﻿<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">GestorProyectos</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Pages</a></li>
                    <li class="breadcrumb-item active">Pricing</li>
                </ol>
            </div>
            <h4 class="page-title">Pricing</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>
<!-- end page title end breadcrumb -->
<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="pricingTable1 text-center">
                    <h6 class="title1 py-3 m-0">Basic plan</h6>
                    <p class="text-muted p-3 mb-0">It is a long established fact that a reader will be distracted by the readable.</p>
                    <div class="p-3 m-2">
                        <h3 class="amount amount-border d-inline-block">$39.00</h3>
                        <small class="font-12 text-muted">/month</small>
                    </div>
                    <hr class="hr-dashed">
                    <ul class="list-unstyled pricing-content-2 text-left py-3 border-0 mb-0">
                        <li>30GB Disk Space</li>
                        <li>30 Email Accounts</li>
                        <li>30GB Monthly Bandwidth</li>
                        <li>06 Subdomains</li>
                        <li>10 Domains</li>
                    </ul>

                    <a href="#" class="btn btn-dark py-2 px-5 font-16"><span>Sign up</span></a>
                </div><!--end pricingTable-->
            </div><!--end card-body-->
        </div> <!--end card-->
    </div><!--end col-->

    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <span class="badge badge-pink a-animate-blink mt-0">POPULAR</span>
                <div class="pricingTable1 text-center">
                    <h6 class="title1 py-3 m-0">Premium Plan</h6>
                    <p class="text-muted p-3 mb-0">It is a long established fact that a reader will be distracted by the readable.</p>
                    <div class="p-3 m-2">
                        <h3 class="amount amount-border d-inline-block">$49.00</h3>
                        <small class="font-12 text-muted">/month</small>
                    </div>
                    <hr class="hr-dashed">
                    <ul class="list-unstyled pricing-content-2 text-left py-3 border-0 mb-0">
                        <li>30GB Disk Space</li>
                        <li>30 Email Accounts</li>
                        <li>30GB Monthly Bandwidth</li>
                        <li>06 Subdomains</li>
                        <li>10 Domains</li>
                    </ul>

                    <a href="#" class="btn btn-dark py-2 px-5 font-16"><span>Sign up</span></a>
                </div><!--end pricingTable-->
            </div><!--end card-body-->
        </div> <!--end card-->
    </div><!--end col-->



    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="pricingTable1 text-center">
                    <h6 class="title1 py-3 m-0">Plus Plan</h6>
                    <p class="text-muted p-3 mb-0">It is a long established fact that a reader will be distracted by the readable.</p>
                    <div class="p-3 m-2">
                        <h3 class="amount amount-border d-inline-block">$69.00</h3>
                        <small class="font-12 text-muted">/month</small>
                    </div>
                    <hr class="hr-dashed">
                    <ul class="list-unstyled pricing-content-2 text-left py-3 border-0 mb-0">
                        <li>30GB Disk Space</li>
                        <li>30 Email Accounts</li>
                        <li>30GB Monthly Bandwidth</li>
                        <li>06 Subdomains</li>
                        <li>10 Domains</li>
                    </ul>

                    <a href="#" class="btn btn-dark py-2 px-5 font-16"><span>Sign up</span></a>
                </div><!--end pricingTable-->
            </div><!--end card-body-->
        </div> <!--end card-->
    </div><!--end col-->

    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="pricingTable1 text-center">
                    <h6 class="title1 py-3 m-0">Master Plan</h6>
                    <p class="text-muted p-3 mb-0">It is a long established fact that a reader will be distracted by the readable.</p>
                    <div class="p-3 m-2">
                        <h3 class="amount amount-border d-inline-block">$799.00</h3>
                        <small class="font-12 text-muted">/year</small>
                    </div>
                    <hr class="hr-dashed">
                    <ul class="list-unstyled pricing-content-2 text-left py-3 border-0 mb-0">
                        <li>30GB Disk Space</li>
                        <li>30 Email Accounts</li>
                        <li>30GB Monthly Bandwidth</li>
                        <li>06 Subdomains</li>
                        <li>10 Domains</li>
                    </ul>

                    <a href="#" class="btn btn-dark py-2 px-5 font-16"><span>Sign up</span></a>
                </div><!--end pricingTable-->
            </div><!--end card-body-->
        </div> <!--end card-->
    </div><!--end col-->
</div><!--end row-->


<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="pricingTable1 text-center">
                    <img src="~/images/widgets/p-1.svg" alt="" class="" height="100">
                    <h6 class="title1 py-3 mt-2 mb-0">Basic plan <small class="text-muted">Per Month</small></h6>
                    <ul class="list-unstyled pricing-content-2">
                        <li>30GB Disk Space</li>
                        <li>30 Email Accounts</li>
                        <li>30GB Monthly Bandwidth</li>
                        <li>06 Subdomains</li>
                        <li>10 Domains</li>
                    </ul>
                    <hr class="hr-dashed my-4">
                    <div class="text-center">
                        <h3 class="amount">$39.00<small class="font-12 text-muted">/month</small></h3>
                    </div>
                    <a href="#" class="pricingTable-signup mt-3">sign up</a>
                </div><!--end pricingTable-->
            </div><!--end card-body-->
        </div> <!--end card-->
    </div><!--end col-->

    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="pricingTable1 text-center">
                    <span class="badge badge-warning ml-auto a-animate-blink">POPULAR</span>
                    <img src="~/images/widgets/p-2.svg" alt="" class="d-block mx-auto" height="100">

                    <h6 class="title1 py-3 mt-2 mb-0">Premium plan <small class="text-muted">Per Month</small></h6>
                    <ul class="list-unstyled pricing-content-2">
                        <li>50GB Disk Space</li>
                        <li>50 Email Accounts</li>
                        <li>50GB Monthly Bandwidth</li>
                        <li>10 Subdomains</li>
                        <li>15 Domains</li>
                    </ul>
                    <hr class="hr-dashed my-4">
                    <div class="text-center">
                        <h3 class="amount">$49.00<small class="font-12 text-muted">/month</small></h3>
                    </div>
                    <a href="#" class="pricingTable-signup mt-3">sign up</a>
                </div><!--end pricingTable1-->
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->

    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="pricingTable1 text-center">
                    <img src="~/images/widgets/p-5.svg" alt="" class="" height="100">
                    <h6 class="title1 py-3 mt-2 mb-0">Plus plan <small class="text-muted">Per Month</small></h6>
                    <ul class="list-unstyled pricing-content-2">
                        <li>80GB Disk Space</li>
                        <li>80 Email Accounts</li>
                        <li>80GB Monthly Bandwidth</li>
                        <li>15 Subdomains</li>
                        <li>20 Domains</li>
                    </ul>
                    <hr class="hr-dashed my-4">
                    <div class="text-center">
                        <h3 class="amount">$69.00<small class="font-12 text-muted">/month</small></h3>
                    </div>
                    <a href="#" class="pricingTable-signup mt-3">sign up</a>
                </div><!--end pricingTable1-->
            </div><!--end card-body-->
        </div> <!--end card-->
    </div><!--end col-->

    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="pricingTable1 text-center">
                    <img src="~/images/widgets/p-6.svg" alt="" class="" height="100">
                    <h6 class="title1 py-3 mt-2 mb-0">Master plan <small class="text-muted">Per year</small></h6>
                    <ul class="list-unstyled pricing-content-2">
                        <li>180GB Disk Space</li>
                        <li>180 Email Accounts</li>
                        <li>180GB Yearly Bandwidth</li>
                        <li>50 Subdomains</li>
                        <li>40 Domains</li>
                    </ul>
                    <hr class="hr-dashed my-4">
                    <div class="text-center">
                        <h3 class="amount">$199.00<small class="font-12 text-muted">/One year</small></h3>
                    </div>
                    <a href="#" class="pricingTable-signup mt-3">sign up</a>
                </div><!--end pricingTable1-->
            </div><!--end card-body-->
        </div> <!--end card-->
    </div><!--end col-->
</div><!--end row-->
