﻿@section styles {
    <!-- DataTables -->
    <link href="~/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="~/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
}

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">GestorProyectos</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Sugerencias</a></li>
                    <li class="breadcrumb-item active">Asignacion</li>
                </ol>
            </div>
            <h4 class="page-title">Listado de Tareas Pendientes de Asignar</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>
<!-- end page title end breadcrumb -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <button type="button" class="btn btn-gradient-primary px-4 mt-0 mb-3" data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-lg"><i class="mdi mdi-plus-circle-outline mr-2"></i>Asignar Tarea a Usuario</button>
                <div class="table-responsive">
                    <table id="datatable" class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>Descripción Corta</th>
                                <th>Horas Atención</th>
                                <th>Categoría</th>
                                <th>Fec. Registro</th>
                                <th>Prioridad</th>
                                <th class="text-right">Action</th>
                            </tr><!--end tr-->
                        </thead>

                        <tbody>
                            <tr>
                                <td>Pequeña descripción de la tarea #1</td>
                                <td>36</td>
                                <td>Reunión</td>
                                <td>18/07/2019</td>
                                <td>Falta</td>
                                <td class="text-right">
                                    <a href="#" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a>
                                    <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                                </td>
                            </tr><!--end tr-->
                            <tr>
                                <td>Pequeña descripción de la tarea #2</td>
                                <td>48</td>
                                <td>Análisis</td>
                                <td>18/07/2019</td>
                                <td>Baja</td>
                                <td class="text-right">
                                    <a href="#" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a>
                                    <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                                </td>
                            </tr><!--end tr-->
                            <tr>
                                <td>Pequeña descripción de la tarea #3</td>
                                <td>27</td>
                                <td>Marketing</td>
                                <td>19/07/2019</td>
                                <td>Media</td>
                                <td class="text-right">
                                    <a href="#" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a>
                                    <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                                </td>
                            </tr><!--end tr-->
                            <tr>
                                <td>Pequeña descripción de la tarea #4</td>
                                <td>22</td>
                                <td>Desarrollo</td>
                                <td>19/07/2019</td>
                                <td>Media</td>
                                <td class="text-right">
                                    <a href="#" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a>
                                    <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                                </td>
                            </tr><!--end tr-->
                            <tr>
                                <td>Pequeña descripción de la tarea #5</td>
                                <td>51</td>
                                <td>Desarrollo</td>
                                <td>20/07/2019</td>
                                <td>Alta</td>
                                <td class="text-right">
                                    <a href="#" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a>
                                    <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                                </td>
                            </tr><!--end tr-->
                            <tr>
                                <td>Pequeña descripción de la tarea #6</td>
                                <td>18</td>
                                <td>Análisis</td>
                                <td>20/07/2019</td>
                                <td>Media</td>
                                <td class="text-right">
                                    <a href="#" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a>
                                    <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                                </td>
                            </tr><!--end tr-->
                        </tbody>
                    </table>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
</div><!--end row-->
                </div><!-- container -->
<!--  Modal content for the above example -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myLargeModalLabel">Asignar Tarea a Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="PatientName">Detalle de Tarea</label>
                                <input type="text" class="form-control" id="PatientName" required="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="DoctorName_select" class="mr-2">Usuario</label>
                                <select class="custom-select" id="DoctorName_select">
                                    <option selected="">-- Select --</option>
                                    <option value="1">Thomas Fant</option>
                                    <option value="2">Justin Williams</option>
                                    <option value="3">Aretha Garland</option>
                                    <option value="4">Lea Sanchez</option>
                                    <option value="5">Helen White</option>
                                    <option value="6">William Gonzalez</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="Department_select" class="mr-2">Prioridad</label>
                                <select class="custom-select" id="Department_select">
                                    <option selected="">-- Select --</option>
                                    <option value="1">Alta</option>
                                    <option value="2">Media</option>
                                    <option value="3">Baja</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-sm btn-primary">Guardar</button>
                    <button type="button" class="btn btn-sm btn-danger">Cancelar</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--rightbar-start-->

@section scripts {
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $('#datatable').DataTable();
    </script>
}