﻿
@section styles{
    <link href="~/plugins/lightpick/lightpick.css" rel="stylesheet" />
}

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Metrica</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Projects</a></li>
                    <li class="breadcrumb-item active">Create</li>
                </ol>
            </div>
            <h4 class="page-title">Crear Proyecto</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>
<!-- end page title end breadcrumb -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="mt-0 header-title">Registro de Proyecto</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <form>
                            <div class="form-group">
                                <label for="projectName">Nombre Proyecto :</label>
                                <input type="text" class="form-control" id="projectName" aria-describedby="emailHelp" placeholder="Ingrese el nombre">
                            </div><!--end form-group-->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6 col-6 mb-2 mb-lg-0">
                                        <label for="pro-start-date">Fecha de Inicio</label>
                                        <input type="text" class="form-control" id="pro-start-date" placeholder="Seleccione la fecha de Inicio">
                                    </div><!--end col-->
                                    <div class="col-lg-6 col-6 mb-2 mb-lg-0">
                                        <label for="pro-end-date">Fecha de Finalización</label>
                                        <input type="text" class="form-control" id="pro-end-date" placeholder="Selecciones la fecha de Final">
                                    </div><!--end col-->
                                    <!--<div class="col-lg-3 col-6">
                                        <label for="pro-rate">Rate</label>
                                        <input type="text" class="form-control" id="pro-rate" placeholder="Enter rate">
                                    </div>-->
                                    <!--end col-->
                                    <!--<div class="col-lg-3 col-6">
                                        <label for="pro-end-date">Price Type</label>
                                        <select class="form-control">
                                            <option>Hourly</option>
                                            <option>Daily</option>
                                            <option>Fix</option>
                                        </select>
                                    </div>-->
                                    <!--end col-->
                                </div><!--end row-->
                            </div><!--end form-group-->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6 mb-2 mb-lg-0">
                                        <label for="pro-end-date">Categoría</label>
                                        <select class="form-control">
                                            <option>--Select--</option>
                                            <option>Desarrollo</option>
                                            <option>Marketing </option>
                                            <option>Reuniones</option>
                                        </select>
                                    </div><!--end col-->
                                    <div class="col-lg-6 col-6">
                                        <label for="pro-end-date">Prioridad</label>
                                        <select class="form-control">
                                            <option>-- select --</option>
                                            <option>High</option>
                                            <option>Medium</option>
                                            <option>Low</option>
                                        </select>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div><!--end form-group-->
                            <div class="form-group">
                                <label for="pro-message">Metas</label>
                                <textarea class="form-control" rows="5" id="pro-message" placeholder="detalle.."></textarea>
                            </div><!--end form-group-->

                            <button type="submit" class="btn btn-gradient-primary">Agregar</button>
                            <button type="button" class="btn btn-gradient-danger">Cancelar</button>
                        </form>  <!--end form-->
                    </div><!--end col-->
                    <div class="col-lg-5 ml-auto align-self-center">
                        <form>
                            <div class="form-group">
                                @*<label for="pro-avatar">Project Avatar</label>
                                    <img src="~/images/widgets/project3.jpg" alt="" class="thumb-xl ml-3">
                                    <button class="btn btn-gradient-primary btn-sm change-avatar ml-3">Change Avatar</button>
                                    <input id="fileupload" type="file" name="files[]" multiple style='display: none;'>*@
                            </div><!--end form-group-->
                            <h5 class="font-weight-normal my-5">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised.</h5>
                            <div class="form-group">
                                <label for="team-leader">Encargados del Proyecto</label>
                                <div class="img-group ml-3">
                                    <a class="user-avatar user-avatar-group" href="#">
                                        <img src="~/images/users/user-3.jpg" alt="user" class="thumb-md rounded-circle">
                                    </a>
                                    <a class="user-avatar user-avatar-group" href="#">
                                        <img src="~/images/users/user-5.jpg" alt="user" class="thumb-md rounded-circle">
                                    </a>
                                    <a class="user-avatar user-avatar-group" href="#">
                                        <img src="~/images/users/user-10.jpg" alt="user" class="thumb-md rounded-circle">
                                    </a>
                                    <a class="user-avatar user-avatar-group" href="#">
                                        <img src="~/images/users/user-4.jpg" alt="user" class="thumb-md rounded-circle">
                                    </a>
                                </div><!--end img-group-->
                                <button type="button" class="btn btn-gradient-primary btn-sm add-member ml-3 px-3">
                                    <i class="fas fa-plus"></i>
                                </button>
                                <input id="add-member" type="file" name="files[]" multiple style='display: none;'>
                            </div><!--end form-group-->
                        </form>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
</div><!--end row-->
<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Detalle de Tareas</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>
<!-- end page title end breadcrumb -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <button type="button" class="btn btn-gradient-primary px-4 mt-0 mb-3" data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-lg"><i class="mdi mdi-plus-circle-outline mr-2"></i>Agregar Tarea</button>
                <div class="table-responsive">
                    <table id="datatable" class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>Descripción Corta</th>
                                <th>Horas Estimadas</th>
                                <th>Categoría</th>
                                <th>Fec. Registro</th>
                                <th>Prioridad</th>
                                <th>Usuario Asignado</th>
                                <th class="text-right">Action</th>
                            </tr><!--end tr-->
                        </thead>

                        <tbody>
                            <tr>
                                <td>Pequeña descripción de la tarea #1</td>
                                <td>36</td>
                                <td>Reunión</td>
                                <td>18/07/2019</td>
                                <td>Falta</td>
                                <td>Ingrid Herra</td>
                                <td class="text-right">
                                    <a href="#" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a>
                                    <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                                </td>
                            </tr><!--end tr-->
                            <tr>
                                <td>Pequeña descripción de la tarea #2</td>
                                <td>48</td>
                                <td>Análisis</td>
                                <td>18/07/2019</td>
                                <td>Baja</td>
                                <td>Ingrid Herra</td>
                                <td class="text-right">
                                    <a href="#" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a>
                                    <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                                </td>
                            </tr><!--end tr-->
                            <tr>
                                <td>Pequeña descripción de la tarea #3</td>
                                <td>27</td>
                                <td>Marketing</td>
                                <td>19/07/2019</td>
                                <td>Media</td>
                                <td>Ingrid Herra</td>
                                <td class="text-right">
                                    <a href="#" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a>
                                    <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                                </td>
                            </tr><!--end tr-->
                            <tr>
                                <td>Pequeña descripción de la tarea #4</td>
                                <td>22</td>
                                <td>Desarrollo</td>
                                <td>19/07/2019</td>
                                <td>Media</td>
                                <td>Ingrid Herra</td>
                                <td class="text-right">
                                    <a href="#" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a>
                                    <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                                </td>
                            </tr><!--end tr-->
                            <tr>
                                <td>Pequeña descripción de la tarea #5</td>
                                <td>51</td>
                                <td>Desarrollo</td>
                                <td>20/07/2019</td>
                                <td>Alta</td>
                                <td>Ingrid Herra</td>
                                <td class="text-right">
                                    <a href="#" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a>
                                    <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                                </td>
                            </tr><!--end tr-->
                            <tr>
                                <td>Pequeña descripción de la tarea #6</td>
                                <td>18</td>
                                <td>Análisis</td>
                                <td>20/07/2019</td>
                                <td>Media</td>
                                <td>Ingrid Herra</td>
                                <td class="text-right">
                                    <a href="#" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a>
                                    <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                                </td>
                            </tr><!--end tr-->
                        </tbody>
                    </table>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
</div><!--end row-->
                </div><!-- container -->
<!--  Modal content for the above example -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myLargeModalLabel">Tarea de Proyecto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="PatientName">Detalle de Tarea del Proyecto</label>
                                <input type="text" class="form-control" id="PatientName" required="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="DoctorName_select" class="mr-2">Usuario</label>
                                <select class="custom-select" id="DoctorName_select">
                                    <option selected="">-- Select --</option>
                                    <option value="1">Thomas Fant</option>
                                    <option value="2">Justin Williams</option>
                                    <option value="3">Aretha Garland</option>
                                    <option value="4">Lea Sanchez</option>
                                    <option value="5">Helen White</option>
                                    <option value="6">William Gonzalez</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="Department_select" class="mr-2">Prioridad</label>
                                <select class="custom-select" id="Department_select">
                                    <option selected="">-- Select --</option>
                                    <option value="1">Alta</option>
                                    <option value="2">Media</option>
                                    <option value="3">Baja</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="horas">Horas Estimadas</label>
                                <input type="number" class="form-control" id="horas" required="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="DoctorName_select" class="mr-2">Categoría</label>
                                <select class="custom-select" id="DoctorName_select">
                                    <option selected="">-- Select --</option>
                                    <option value="1">Reunión</option>
                                    <option value="2">Análisis</option>
                                    <option value="3">Desarrollo</option>
                                    <option value="4">Soporte</option>
                                    <option value="5">Implementación</option>
                                    <option value="6">Marketing</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-sm btn-primary">Guardar</button>
                    <button type="button" class="btn btn-sm btn-danger">Cancelar</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--rightbar-start-->

@section scripts {
    <script src="~/plugins/moment/moment.js"></script>
    <script src="~/plugins/lightpick/lightpick.js"></script>
    <script src="~/scripts/pages/jquery.projects_new.init.js"></script>

    <script type="text/javascript">
        $('.change-avatar').on('click', function () { $('#fileupload').click(); return false; });
        $('.add-member').on('click', function () { $('#add-member').click(); return false; });
    </script>
}