﻿@section styles {
    <link href="~/plugins/dragula/dragula.min.css" rel="stylesheet" type="text/css" />
}

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">GestorProyectos</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Trabajo Diario</a></li>
                    <li class="breadcrumb-item active">Trabajo Diario</li>
                </ol>
            </div>
            <h4 class="page-title">Trabajo Diario (Kanban)</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>
<!-- end page title end breadcrumb -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="bg-light p-4">
                            @*<div class="dropdown d-inline-block float-right mt-n2">
                                <a class="nav-link dropdown-toggle arrow-none" id="drop1" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v font-18 text-muted"></i>
                                </a>
                            </div>*@
                            <h4 class="header-title pb-1 mb-3 mt-0">Por Hacer</h4>
                            <div id="project-list-left" class="pb-1">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown d-inline-block float-right">
                                            <a class="nav-link dropdown-toggle mr-n2 mt-n2" id="drop2" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v text-muted"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="drop2">
                                                <a class="dropdown-item" href="#">Modificar</a>
                                                <a class="dropdown-item" href="#">Eliminar</a>
                                            </div>
                                        </div><!--end dropdown-->
                                        <i class="mdi mdi-circle-outline d-block mt-n2 font-18 text-warning"></i>
                                        <h5 class="my-1">Enunciado Tareas</h5>
                                        <p class="text-muted mb-2">Proyecto</p>
                                        <div class="row justify-content-center">
                                            <div class="col-6 align-self-center">
                                                <ul class="list-inline mb-0">
                                                    <li class="list-item d-inline-block mr-2">
                                                        <a class="" href="#">
                                                            <i class="mdi mdi-format-list-bulleted text-muted"></i>
                                                            <span class="text-muted font-weight-bold">0/5</span>
                                                        </a>
                                                    </li>
                                                    <li class="list-item d-inline-block">
                                                        <a class="" href="#">
                                                            <i class="mdi mdi-comment-outline text-muted"></i>
                                                            <span class="text-muted font-weight-bold">3</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div><!--end col-->
                                            <div class="col-6 align-self-center">
                                                <a class="float-right" href="#">
                                                    <img src="~/images/users/user-1.jpg" alt="user" class="thumb-xs rounded-circle">
                                                </a>
                                                <a class="float-right" href="#">
                                                    <img src="~/images/users/user-9.jpg" alt="user" class="thumb-xs rounded-circle">
                                                </a>
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </div><!--end card-body-->
                                </div><!--end card-->

                                <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown d-inline-block float-right">
                                            <a class="nav-link dropdown-toggle mr-n2 mt-n2" id="drop3" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v text-muted"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="drop3">
                                                <a class="dropdown-item" href="#">Modificar</a>
                                                <a class="dropdown-item" href="#">Eliminar</a>
                                            </div>
                                        </div><!--end dropdown-->
                                        <i class="mdi mdi-circle-outline d-block mt-n2 font-18 text-success"></i>
                                        <h5 class="my-1">Enunciado Tareas</h5>
                                        <p class="text-muted mb-2">Proyecto</p>
                                        <div class="row justify-content-center">
                                            <div class="col-6 align-self-center">
                                                <ul class="list-inline mb-0">
                                                    <li class="list-item d-inline-block mr-2">
                                                        <a class="" href="#">
                                                            <i class="mdi mdi-format-list-bulleted text-muted"></i>
                                                            <span class="text-muted font-weight-bold">0/5</span>
                                                        </a>
                                                    </li>
                                                    <li class="list-item d-inline-block">
                                                        <a class="" href="#">
                                                            <i class="mdi mdi-comment-outline text-muted"></i>
                                                            <span class="text-muted font-weight-bold">3</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div><!--end col-->
                                            <div class="col-6 align-self-center">
                                                <a class="float-right" href="#">
                                                    <img src="~/images/users/user-2.jpg" alt="user" class="thumb-xs rounded-circle">
                                                </a>
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </div><!--end card-body-->
                                </div><!--end card-->

                                <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown d-inline-block float-right">
                                            <a class="nav-link dropdown-toggle mr-n2 mt-n2" id="drop4" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v text-muted"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="drop4">
                                                <a class="dropdown-item" href="#">Modificar</a>
                                                <a class="dropdown-item" href="#">Eliminar</a>
                                            </div>
                                        </div><!--end dropdown-->
                                        <i class="mdi mdi-circle-outline d-block mt-n2 font-18 text-danger"></i>
                                        <h5 class="my-1">Enunciado Tareas</h5>
                                        <p class="text-muted mb-2">Proyecto</p>
                                        <div class="row justify-content-center">
                                            <div class="col-6 align-self-center">
                                                <ul class="list-inline mb-0">
                                                    <li class="list-item d-inline-block mr-2">
                                                        <a class="" href="#">
                                                            <i class="mdi mdi-format-list-bulleted text-muted"></i>
                                                            <span class="text-muted font-weight-bold">0/5</span>
                                                        </a>
                                                    </li>
                                                    <li class="list-item d-inline-block">
                                                        <a class="" href="#">
                                                            <i class="mdi mdi-comment-outline text-muted"></i>
                                                            <span class="text-muted font-weight-bold">3</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div><!--end col-->
                                            <div class="col-6 align-self-center">
                                                <a class="float-right" href="#">
                                                    <img src="~/images/users/user-3.jpg" alt="user" class="thumb-xs rounded-circle">
                                                </a>
                                                <a class="float-right" href="#">
                                                    <img src="~/images/users/user-1.jpg" alt="user" class="thumb-xs rounded-circle">
                                                </a>
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </div><!--end card-body-->
                                </div><!--end card-->
                                <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown d-inline-block float-right">
                                            <a class="nav-link dropdown-toggle mr-n2 mt-n2" id="drop5" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v text-muted"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="drop5">
                                                <a class="dropdown-item" href="#">Modificar</a>
                                                <a class="dropdown-item" href="#">Eliminar</a>
                                            </div>
                                        </div><!--end dropdown-->
                                        <i class="mdi mdi-circle-outline d-block mt-n2 font-18 text-purple"></i>
                                        <h5 class="my-1">Enunciado Tareas</h5>
                                        <p class="text-muted mb-2">Proyecto</p>
                                        <div class="row justify-content-center">
                                            <div class="col-6 align-self-center">
                                                <ul class="list-inline mb-0">
                                                    <li class="list-item d-inline-block mr-2">
                                                        <a class="" href="#">
                                                            <i class="mdi mdi-format-list-bulleted text-muted"></i>
                                                            <span class="text-muted font-weight-bold">0/5</span>
                                                        </a>
                                                    </li>
                                                    <li class="list-item d-inline-block">
                                                        <a class="" href="#">
                                                            <i class="mdi mdi-comment-outline text-muted"></i>
                                                            <span class="text-muted font-weight-bold">3</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div><!--end col-->
                                            <div class="col-6 align-self-center">
                                                <a class="float-right" href="#">
                                                    <img src="~/images/users/user-4.jpg" alt="user" class="thumb-xs rounded-circle">
                                                </a>
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </div><!--end card-body-->
                                </div><!--end card-->
                                <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown d-inline-block float-right">
                                            <a class="nav-link dropdown-toggle mr-n2 mt-n2" id="drop6" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v text-muted"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="drop6">
                                                <a class="dropdown-item" href="#">Modificar</a>
                                                <a class="dropdown-item" href="#">Eliminar</a>
                                            </div>
                                        </div><!--end dropdown-->
                                        <i class="mdi mdi-circle-outline d-block mt-n2 font-18 text-success"></i>
                                        <h5 class="my-1">Enunciado Tareas</h5>
                                        <p class="text-muted mb-2">Proyecto</p>
                                        <div class="row justify-content-center">
                                            <div class="col-6 align-self-center">
                                                <ul class="list-inline mb-0">
                                                    <li class="list-item d-inline-block mr-2">
                                                        <a class="" href="#">
                                                            <i class="mdi mdi-format-list-bulleted text-muted"></i>
                                                            <span class="text-muted font-weight-bold">0/5</span>
                                                        </a>
                                                    </li>
                                                    <li class="list-item d-inline-block">
                                                        <a class="" href="#">
                                                            <i class="mdi mdi-comment-outline text-muted"></i>
                                                            <span class="text-muted font-weight-bold">3</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div><!--end col-->
                                            <div class="col-6 align-self-center">
                                                <a class="float-right" href="#">
                                                    <img src="~/images/users/user-8.jpg" alt="user" class="thumb-xs rounded-circle">
                                                </a>
                                                <a class="float-right" href="#">
                                                    <img src="~/images/users/user-2.jpg" alt="user" class="thumb-xs rounded-circle">
                                                </a>
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </div><!--end card-body-->
                                </div><!--end card-->
                            </div><!--end project-list-left-->
                            <button type="button" class="btn btn-block btn-gradient-primary">Add Task</button>
                        </div><!--end /div-->
                    </div><!--end col-->

                    <div class="col-md-3">
                        <div class="bg-light p-4">
                            <h4 class="header-title pb-1 mb-3 mt-0">En Progreso</h4>
                            <div id="project-list-center-left" class="pb-1">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown d-inline-block float-right">
                                            <a class="nav-link dropdown-toggle mr-n2 mt-n2" id="drop08" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v text-muted"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="drop08">
                                                <a class="dropdown-item" href="#">Modificar</a>
                                                <a class="dropdown-item" href="#">Eliminar</a>
                                            </div>
                                        </div><!--end dropdown-->
                                        <i class="mdi mdi-circle-outline d-block mt-n2 font-18 text-warning"></i>
                                        <h5 class="my-1">Enunciado Tareas</h5>
                                        <p class="text-muted mb-2">Proyecto</p>
                                        <div class="row justify-content-center">
                                            <div class="col-6 align-self-center">
                                                <ul class="list-inline mb-0">
                                                    <li class="list-item d-inline-block mr-2">
                                                        <a class="" href="#">
                                                            <i class="mdi mdi-format-list-bulleted text-muted"></i>
                                                            <span class="text-muted font-weight-bold">0/5</span>
                                                        </a>
                                                    </li>
                                                    <li class="list-item d-inline-block">
                                                        <a class="" href="#">
                                                            <i class="mdi mdi-comment-outline text-muted"></i>
                                                            <span class="text-muted font-weight-bold">3</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div><!--end col-->
                                            <div class="col-6 align-self-center">
                                                <a class="float-right" href="#">
                                                    <img src="~/images/users/user-1.jpg" alt="user" class="thumb-xs rounded-circle">
                                                </a>
                                                <a class="float-right" href="#">
                                                    <img src="~/images/users/user-9.jpg" alt="user" class="thumb-xs rounded-circle">
                                                </a>
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </div><!--end card-body-->
                                </div><!--end card-->

                                <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown d-inline-block float-right">
                                            <a class="nav-link dropdown-toggle mr-n2 mt-n2" id="drop9" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v text-muted"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="drop9">
                                                <a class="dropdown-item" href="#">Modificar</a>
                                                <a class="dropdown-item" href="#">Eliminar</a>
                                            </div>
                                        </div><!--end dropdown-->
                                        <i class="mdi mdi-circle-outline d-block mt-n2 font-18 text-success"></i>
                                        <h5 class="my-1">Enunciado Tareas</h5>
                                        <p class="text-muted mb-2">Proyecto</p>
                                        <div class="row justify-content-center">
                                            <div class="col-6 align-self-center">
                                                <ul class="list-inline mb-0">
                                                    <li class="list-item d-inline-block mr-2">
                                                        <a class="" href="#">
                                                            <i class="mdi mdi-format-list-bulleted text-muted"></i>
                                                            <span class="text-muted font-weight-bold">0/5</span>
                                                        </a>
                                                    </li>
                                                    <li class="list-item d-inline-block">
                                                        <a class="" href="#">
                                                            <i class="mdi mdi-comment-outline text-muted"></i>
                                                            <span class="text-muted font-weight-bold">3</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div><!--end col-->
                                            <div class="col-6 align-self-center">
                                                <a class="float-right" href="#">
                                                    <img src="~/images/users/user-2.jpg" alt="user" class="thumb-xs rounded-circle">
                                                </a>
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </div><!--end card-body-->
                                </div><!--end card-->

                                <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown d-inline-block float-right">
                                            <a class="nav-link dropdown-toggle mr-n2 mt-n2" id="drop10" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v text-muted"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="drop10">
                                                <a class="dropdown-item" href="#">Modificar</a>
                                                <a class="dropdown-item" href="#">Eliminar</a>
                                            </div>
                                        </div><!--end dropdown-->
                                        <i class="mdi mdi-circle-outline d-block mt-n2 font-18 text-danger"></i>
                                        <h5 class="my-1">Enunciado Tareas</h5>
                                        <p class="text-muted mb-2">Proyecto</p>
                                        <div class="row justify-content-center">
                                            <div class="col-6 align-self-center">
                                                <ul class="list-inline mb-0">
                                                    <li class="list-item d-inline-block mr-2">
                                                        <a class="" href="#">
                                                            <i class="mdi mdi-format-list-bulleted text-muted"></i>
                                                            <span class="text-muted font-weight-bold">0/5</span>
                                                        </a>
                                                    </li>
                                                    <li class="list-item d-inline-block">
                                                        <a class="" href="#">
                                                            <i class="mdi mdi-comment-outline text-muted"></i>
                                                            <span class="text-muted font-weight-bold">3</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div><!--end col-->
                                            <div class="col-6 align-self-center">
                                                <a class="float-right" href="#">
                                                    <img src="~/images/users/user-3.jpg" alt="user" class="thumb-xs rounded-circle">
                                                </a>
                                                <a class="float-right" href="#">
                                                    <img src="~/images/users/user-1.jpg" alt="user" class="thumb-xs rounded-circle">
                                                </a>
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </div><!--end card-body-->
                                </div><!--end card-->
                                <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown d-inline-block float-right">
                                            <a class="nav-link dropdown-toggle mr-n2 mt-n2" id="drop11" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v text-muted"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="drop11">
                                                <a class="dropdown-item" href="#">Modificar</a>
                                                <a class="dropdown-item" href="#">Eliminar</a>
                                            </div>
                                        </div><!--end dropdown-->
                                        <i class="mdi mdi-circle-outline d-block mt-n2 font-18 text-purple"></i>
                                        <h5 class="my-1">Enunciado Tareas</h5>
                                        <p class="text-muted mb-2">Proyecto</p>
                                        <div class="row justify-content-center">
                                            <div class="col-6 align-self-center">
                                                <ul class="list-inline mb-0">
                                                    <li class="list-item d-inline-block mr-2">
                                                        <a class="" href="#">
                                                            <i class="mdi mdi-format-list-bulleted text-muted"></i>
                                                            <span class="text-muted font-weight-bold">0/5</span>
                                                        </a>
                                                    </li>
                                                    <li class="list-item d-inline-block">
                                                        <a class="" href="#">
                                                            <i class="mdi mdi-comment-outline text-muted"></i>
                                                            <span class="text-muted font-weight-bold">3</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div><!--end col-->
                                            <div class="col-6 align-self-center">
                                                <a class="float-right" href="#">
                                                    <img src="~/images/users/user-4.jpg" alt="user" class="thumb-xs rounded-circle">
                                                </a>
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </div><!--end card-body-->
                                </div><!--end card-->
                            </div><!--end project-list-left-->
                            <button type="button" class="btn btn-block  btn-gradient-primary">Add Task</button>
                        </div><!--end /div-->
                    </div><!--end col-->

                    <div class="col-md-3">
                        <div class="bg-light p-4">
                            <h4 class="header-title pb-1 mb-3 mt-0">En Revisión</h4>

                            <div id="project-list-center-right" class="pb-1">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown d-inline-block float-right">
                                            <a class="nav-link dropdown-toggle mr-n2 mt-n2" id="drop13" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v text-muted"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="drop13">
                                                <a class="dropdown-item" href="#">Modificar</a>
                                                <a class="dropdown-item" href="#">Eliminar</a>
                                            </div>
                                        </div><!--end dropdown-->
                                        <i class="mdi mdi-circle-outline d-block mt-n2 font-18 text-warning"></i>
                                        <h5 class="my-1">Enunciado Tareas</h5>
                                        <p class="text-muted mb-2">Proyecto</p>
                                        <div class="row justify-content-center">
                                            <div class="col-6 align-self-center">
                                                <ul class="list-inline mb-0">
                                                    <li class="list-item d-inline-block mr-2">
                                                        <a class="" href="#">
                                                            <i class="mdi mdi-format-list-bulleted text-muted"></i>
                                                            <span class="text-muted font-weight-bold">0/5</span>
                                                        </a>
                                                    </li>
                                                    <li class="list-item d-inline-block">
                                                        <a class="" href="#">
                                                            <i class="mdi mdi-comment-outline text-muted"></i>
                                                            <span class="text-muted font-weight-bold">3</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div><!--end col-->
                                            <div class="col-6 align-self-center">
                                                <a class="float-right" href="#">
                                                    <img src="~/images/users/user-5.jpg" alt="user" class="thumb-xs rounded-circle">
                                                </a>
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </div><!--end card-body-->
                                </div><!--end card-->

                                <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown d-inline-block float-right">
                                            <a class="nav-link dropdown-toggle mr-n2 mt-n2" id="drop14" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v text-muted"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="drop14">
                                                <a class="dropdown-item" href="#">Modificar</a>
                                                <a class="dropdown-item" href="#">Eliminar</a>
                                            </div>
                                        </div><!--end dropdown-->
                                        <i class="mdi mdi-circle-outline d-block mt-n2 font-18 text-purple"></i>
                                        <h5 class="my-1">Enunciado Tareas</h5>
                                        <p class="text-muted mb-2">Proyecto</p>
                                        <div class="row justify-content-center">
                                            <div class="col-6 align-self-center">
                                                <ul class="list-inline mb-0">
                                                    <li class="list-item d-inline-block mr-2">
                                                        <a class="" href="#">
                                                            <i class="mdi mdi-format-list-bulleted text-muted"></i>
                                                            <span class="text-muted font-weight-bold">0/5</span>
                                                        </a>
                                                    </li>
                                                    <li class="list-item d-inline-block">
                                                        <a class="" href="#">
                                                            <i class="mdi mdi-comment-outline text-muted"></i>
                                                            <span class="text-muted font-weight-bold">3</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div><!--end col-->
                                            <div class="col-6 align-self-center">
                                                <a class="float-right" href="#">
                                                    <img src="~/images/users/user-6.jpg" alt="user" class="thumb-xs rounded-circle">
                                                </a>
                                                <a class="float-right" href="#">
                                                    <img src="~/images/users/user-9.jpg" alt="user" class="thumb-xs rounded-circle">
                                                </a>
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </div><!--end card-body-->
                                </div><!--end card-->

                                <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown d-inline-block float-right">
                                            <a class="nav-link dropdown-toggle mr-n2 mt-n2" id="drop15" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v text-muted"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="drop15">
                                                <a class="dropdown-item" href="#">Modificar</a>
                                                <a class="dropdown-item" href="#">Eliminar</a>
                                            </div>
                                        </div><!--end dropdown-->
                                        <i class="mdi mdi-circle-outline d-block mt-n2 font-18 text-danger"></i>
                                        <h5 class="my-1">Enunciado Tareas</h5>
                                        <p class="text-muted mb-2">Proyecto</p>
                                        <div class="row justify-content-center">
                                            <div class="col-6 align-self-center">
                                                <ul class="list-inline mb-0">
                                                    <li class="list-item d-inline-block mr-2">
                                                        <a class="" href="#">
                                                            <i class="mdi mdi-format-list-bulleted text-muted"></i>
                                                            <span class="text-muted font-weight-bold">0/5</span>
                                                        </a>
                                                    </li>
                                                    <li class="list-item d-inline-block">
                                                        <a class="" href="#">
                                                            <i class="mdi mdi-comment-outline text-muted"></i>
                                                            <span class="text-muted font-weight-bold">3</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div><!--end col-->
                                            <div class="col-6 align-self-center">
                                                <a class="float-right" href="#">
                                                    <img src="~/images/users/user-7.jpg" alt="user" class="thumb-xs rounded-circle">
                                                </a>
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </div><!--end card-body-->
                                </div><!--end card-->
                            </div><!--end project-list-right-->
                            <button type="button" class="btn btn-block  btn-gradient-primary">Add Task</button>
                        </div><!--end /div-->
                    </div><!--end col-->

                    <div class="col-md-3">
                        <div class="bg-light p-4">

                            <h4 class="header-title pb-1 mb-3 mt-0">Terminadas</h4>

                            <div id="project-list-right" class="pb-1">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown d-inline-block float-right">
                                            <a class="nav-link dropdown-toggle mr-n2 mt-n2" id="drop17" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v text-muted"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="drop17">
                                                <a class="dropdown-item" href="#">Modificar</a>
                                                <a class="dropdown-item" href="#">Eliminar</a>
                                            </div>
                                        </div><!--end dropdown-->
                                        <i class="mdi mdi-circle-outline d-block mt-n2 font-18 text-warning"></i>
                                        <h5 class="my-1">Enunciado Tareas</h5>
                                        <p class="text-muted mb-2">Proyecto</p>
                                        <div class="row justify-content-center">
                                            <div class="col-6 align-self-center">
                                                <ul class="list-inline mb-0">
                                                    <li class="list-item d-inline-block mr-2">
                                                        <a class="" href="#">
                                                            <i class="mdi mdi-format-list-bulleted text-muted"></i>
                                                            <span class="text-muted font-weight-bold">0/5</span>
                                                        </a>
                                                    </li>
                                                    <li class="list-item d-inline-block">
                                                        <a class="" href="#">
                                                            <i class="mdi mdi-comment-outline text-muted"></i>
                                                            <span class="text-muted font-weight-bold">3</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div><!--end col-->
                                            <div class="col-6 align-self-center">
                                                <a class="float-right" href="#">
                                                    <img src="~/images/users/user-5.jpg" alt="user" class="thumb-xs rounded-circle">
                                                </a>
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </div><!--end card-body-->
                                </div><!--end card-->

                                <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown d-inline-block float-right">
                                            <a class="nav-link dropdown-toggle mr-n2 mt-n2" id="drop18" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v text-muted"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="drop18">
                                                <a class="dropdown-item" href="#">Modificar</a>
                                                <a class="dropdown-item" href="#">Eliminar</a>
                                            </div>
                                        </div><!--end dropdown-->
                                        <i class="mdi mdi-circle-outline d-block mt-n2 font-18 text-purple"></i>
                                        <h5 class="my-1">Enunciado Tareas</h5>
                                        <p class="text-muted mb-2">Proyecto</p>
                                        <div class="row justify-content-center">
                                            <div class="col-6 align-self-center">
                                                <ul class="list-inline mb-0">
                                                    <li class="list-item d-inline-block mr-2">
                                                        <a class="" href="#">
                                                            <i class="mdi mdi-format-list-bulleted text-muted"></i>
                                                            <span class="text-muted font-weight-bold">0/5</span>
                                                        </a>
                                                    </li>
                                                    <li class="list-item d-inline-block">
                                                        <a class="" href="#">
                                                            <i class="mdi mdi-comment-outline text-muted"></i>
                                                            <span class="text-muted font-weight-bold">3</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div><!--end col-->
                                            <div class="col-6 align-self-center">
                                                <a class="float-right" href="#">
                                                    <img src="~/images/users/user-6.jpg" alt="user" class="thumb-xs rounded-circle">
                                                </a>
                                                <a class="float-right" href="#">
                                                    <img src="~/images/users/user-9.jpg" alt="user" class="thumb-xs rounded-circle">
                                                </a>
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </div><!--end card-body-->
                                </div><!--end card-->

                                <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown d-inline-block float-right">
                                            <a class="nav-link dropdown-toggle mr-n2 mt-n2" id="drop19" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v text-muted"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="drop19">
                                                <a class="dropdown-item" href="#">Modificar</a>
                                                <a class="dropdown-item" href="#">Eliminar</a>
                                            </div>
                                        </div><!--end dropdown-->
                                        <i class="mdi mdi-circle-outline d-block mt-n2 font-18 text-danger"></i>
                                        <h5 class="my-1">Enunciado Tareas</h5>
                                        <p class="text-muted mb-2">Proyecto</p>
                                        <div class="row justify-content-center">
                                            <div class="col-6 align-self-center">
                                                <ul class="list-inline mb-0">
                                                    <li class="list-item d-inline-block mr-2">
                                                        <a class="" href="#">
                                                            <i class="mdi mdi-format-list-bulleted text-muted"></i>
                                                            <span class="text-muted font-weight-bold">0/5</span>
                                                        </a>
                                                    </li>
                                                    <li class="list-item d-inline-block">
                                                        <a class="" href="#">
                                                            <i class="mdi mdi-comment-outline text-muted"></i>
                                                            <span class="text-muted font-weight-bold">3</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div><!--end col-->
                                            <div class="col-6 align-self-center">
                                                <a class="float-right" href="#">
                                                    <img src="~/images/users/user-7.jpg" alt="user" class="thumb-xs rounded-circle">
                                                </a>
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </div><!--end card-body-->
                                </div><!--end card-->
                                <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown d-inline-block float-right">
                                            <a class="nav-link dropdown-toggle mr-n2 mt-n2" id="drop20" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v text-muted"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="drop20">
                                                <a class="dropdown-item" href="#">Modificar</a>
                                                <a class="dropdown-item" href="#">Eliminar</a>
                                            </div>
                                        </div><!--end dropdown-->
                                        <i class="mdi mdi-circle-outline d-block mt-n2 font-18 text-success"></i>
                                        <h5 class="my-1">Enunciado Tareas</h5>
                                        <p class="text-muted mb-2">Proyecto</p>
                                        <div class="row justify-content-center">
                                            <div class="col-6 align-self-center">
                                                <ul class="list-inline mb-0">
                                                    <li class="list-item d-inline-block mr-2">
                                                        <a class="" href="#">
                                                            <i class="mdi mdi-format-list-bulleted text-muted"></i>
                                                            <span class="text-muted font-weight-bold">0/5</span>
                                                        </a>
                                                    </li>
                                                    <li class="list-item d-inline-block">
                                                        <a class="" href="#">
                                                            <i class="mdi mdi-comment-outline text-muted"></i>
                                                            <span class="text-muted font-weight-bold">3</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div><!--end col-->
                                            <div class="col-6 align-self-center">
                                                <a class="float-right" href="#">
                                                    <img src="~/images/users/user-8.jpg" alt="user" class="thumb-xs rounded-circle">
                                                </a>
                                                <a class="float-right" href="#">
                                                    <img src="~/images/users/user-2.jpg" alt="user" class="thumb-xs rounded-circle">
                                                </a>
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </div><!--end card-body-->
                                </div><!--end card-->
                            </div><!--end project-list-right-->
                            <button type="button" class="btn btn-block  btn-gradient-primary">Add Task</button>
                        </div><!--end /div-->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
</div><!--end row-->


@section scripts {
    <script src="~/plugins/dragula/dragula.min.js"></script>
    <script src="~/scripts/pages/jquery.dragula.init.js"></script>
}