﻿<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">GestorProyectos</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Proyectos</a></li>
                    <li class="breadcrumb-item active">Proyectos</li>
                </ol>
            </div>
            <h4 class="page-title">Proyectos</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>
<!-- end page title end breadcrumb -->
<div class="row">
    <div class="col-lg-6">
        <ul class="list-inline">
            <li class="list-inline-item">
                <h5 class="mt-0">Detalle de Proyectos Activos. <span class="badge badge-pink">6</span></h5>
            </li>
        </ul>
    </div><!--end col-->

    <div class="col-lg-6 text-right">
        <div class="text-right">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <div class="input-group">
                        <input type="text" id="example-input1-group2" name="example-input1-group2" class="form-control" placeholder="Buscar">
                        <span class="input-group-append">
                            <button type="button" class="btn btn-gradient-primary"><i class="fas fa-search"></i></button>
                        </span>
                    </div>
                </li>
                <li class="list-inline-item">
                    <button type="button" class="btn btn-gradient-primary">Agregar Proyecto Nuevo</button>
                </li>
            </ul>
        </div>
    </div><!--end col-->
</div><!--end row-->

<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class=" d-flex justify-content-end">
                    <div class="dropdown d-inline-block">
                        <a class="nav-link dropdown-toggle arrow-none" id="dLabel1" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="fas fa-ellipsis-v font-20 text-muted"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel1">
                            <a class="dropdown-item" href="#">Detalle de Tareas</a>
                            <a class="dropdown-item" href="#">Cerrar</a>
                        </div>
                    </div>
                </div>
                <div class="text-center project-card">
                    <img src="~/images/widgets/p-1.svg" alt="" height="80" class="mx-auto d-block mb-3">
                    <span class="badge badge-soft-success font-11">Marketing</span>
                    <h3 class="project-title ">Nuevos Contactos</h3>
                    <p class="text-muted">
                        <span class="text-secondary font-14"><b>Description :</b></span>There are many variations of passages of
                        Lorem Ipsum available, but the majority have suffered alteration in some form.
                    </p>
                    <a href="" class="text-info">www.xyz.marketechworld.com</a>
                    <h4>52/90</h4>
                    <p class="text-muted">Tareas Terminadas</p>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->

    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class=" d-flex justify-content-end">
                    <div class="dropdown d-inline-block">
                        <a class="nav-link dropdown-toggle arrow-none" id="dLabel2" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="fas fa-ellipsis-v font-20 text-muted"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel2">
                            <a class="dropdown-item" href="#">Detalle de Tareas</a>
                            <a class="dropdown-item" href="#">Cerrar</a>
                        </div>
                    </div>
                </div>
                <div class="text-center project-card">
                    <img src="~/images/widgets/p-4.svg" alt="" height="80" class="mx-auto d-block mb-3">
                    <span class="badge badge-soft-danger font-11">Desarrollo</span>
                    <h3 class="project-title ">Ajustes en Sistema MIDAS IP</h3>
                    <p class="text-muted">
                        <span class="text-secondary font-14"><b>Description :</b></span>There are many variations of passages of
                        Lorem Ipsum available, but the majority have suffered alteration in some form.
                    </p>
                    <a href="" class="text-info">www.xyz.transactions.com</a>
                    <h4>88/120</h4>
                    <p class="text-muted">Tareas Terminadas</p>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->

    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class=" d-flex justify-content-end">
                    <div class="dropdown d-inline-block">
                        <a class="nav-link dropdown-toggle arrow-none" id="dLabel3" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="fas fa-ellipsis-v font-20 text-muted"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel3">
                            <a class="dropdown-item" href="#">Detalle de Tareas</a>
                            <a class="dropdown-item" href="#">Cerrar</a>
                        </div>
                    </div>
                </div>
                <div class="text-center project-card">
                    <img src="~/images/widgets/p-3.svg" alt="" height="80" class="mx-auto d-block mb-3">
                    <span class="badge badge-soft-purple font-11">Análisis</span>
                    <h3 class="project-title ">Mejoras Carga Archivos</h3>
                    <p class="text-muted">
                        <span class="text-secondary font-14"><b>Description :</b></span>There are many variations of passages of
                        Lorem Ipsum available, but the majority have suffered alteration in some form.
                    </p>
                    <a href="" class="text-info">www.marketechworld.com</a>
                    <h4>52/90</h4>
                    <p class="text-muted">Tareas Terminadas</p>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->

    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class=" d-flex justify-content-end">
                    <div class="dropdown d-inline-block">
                        <a class="nav-link dropdown-toggle arrow-none" id="dLabel4" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="fas fa-ellipsis-v font-20 text-muted"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel4">
                            <a class="dropdown-item" href="#">Detalle de Tareas</a>
                            <a class="dropdown-item" href="#">Cerrar</a>
                        </div>
                    </div>
                </div>
                <div class="text-center project-card">
                    <img src="~/images/widgets/p-2.svg" alt="" height="80" class="mx-auto d-block mb-3">
                    <span class="badge badge-soft-info font-11">Desarrollo</span>
                    <h3 class="project-title ">Creación de Gestor</h3>
                    <p class="text-muted">
                        <span class="text-secondary font-14"><b>Description :</b></span>There are many variations of passages of
                        Lorem Ipsum available, but the majority have suffered alteration in some form.
                    </p>
                    <a href="" class="text-info">www.xyz.bookmyworld.com</a>
                    <h4>32/60</h4>
                    <p class="text-muted">Tareas Terminadas</p>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
</div><!--end row-->


<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class=" d-flex justify-content-end">
                    <div class="dropdown d-inline-block">
                        <a class="nav-link dropdown-toggle arrow-none" id="dLabel5" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="fas fa-ellipsis-v font-20 text-muted"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel5">
                            <a class="dropdown-item" href="#">Detalle de Tareas</a>
                            <a class="dropdown-item" href="#">Cerrar</a>
                        </div>
                    </div>
                </div>
                <div class="text-center project-card">
                    <img src="~/images/widgets/p-5.svg" alt="" height="80" class="mx-auto d-block mb-3">
                    <span class="badge badge-soft-success font-11">Desarrollo</span>
                    <h3 class="project-title ">Desarrollo Cliente X</h3>
                    <p class="text-muted">
                        <span class="text-secondary font-14"><b>Description :</b></span>There are many variations of passages of
                        Lorem Ipsum available, but the majority have suffered alteration in some form.
                    </p>
                    <a href="" class="text-info">www.xyz.gpssystem.com</a>
                    <h4>52/90</h4>
                    <p class="text-muted">Tareas Terminadas</p>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->

    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class=" d-flex justify-content-end">
                    <div class="dropdown d-inline-block">
                        <a class="nav-link dropdown-toggle arrow-none" id="dLabel6" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="fas fa-ellipsis-v font-20 text-muted"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel6">
                            <a class="dropdown-item" href="#">Detalle de Tareas</a>
                            <a class="dropdown-item" href="#">Cerrar</a>
                        </div>
                    </div>
                </div>
                <div class="text-center project-card">
                    <img src="~/images/widgets/p-6.svg" alt="" height="80" class="mx-auto d-block mb-3">
                    <span class="badge badge-soft-danger font-11">Reunión</span>
                    <h3 class="project-title ">Seguimiento Tareas</h3>
                    <p class="text-muted">
                        <span class="text-secondary font-14"><b>Description :</b></span>There are many variations of passages of
                        Lorem Ipsum available, but the majority have suffered alteration in some form.
                    </p>
                    <a href="" class="text-info">www.xyz.bodycare.com</a>
                    <h4>26/36</h4>
                    <p class="text-muted">Tareas Terminadas</p>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
</div><!--end row-->
