﻿<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">GestorProyectos</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Proyectos</a></li>
                    <li class="breadcrumb-item active">Equipos de Trabajo</li>
                </ol>
            </div>
            <h4 class="page-title">Equipos de Trabajo</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>
<!-- end page title end breadcrumb -->
<div class="row">
    <button type="button" class="btn btn-gradient-primary px-4 mt-0 mb-3" data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-lg"><i class="mdi mdi-plus-circle-outline mr-2"></i>Agregar un Equipo de Trabajo</button>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="card team-card">
            <div class="card-body">
                <div class=" d-flex justify-content-between">
                    <h4 class="header-title mt-0 d-inline-block">UI/UX Design Team</h4>
                    <div class="dropdown d-inline-block">
                        <a class="nav-link dropdown-toggle arrow-none" id="dLabel1" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="fas fa-ellipsis-v font-20 text-muted"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel1">
                            <a class="dropdown-item" href="#">Crear un Proyecto</a>
                            <a class="dropdown-item" href="#">Revisar Proyectos</a>
                            <a class="dropdown-item" href="#">Detalle de Tareas</a>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <img src="~/images/users/user-4.jpg" alt="" class="rounded-circle user-img img-thumbnail">
                    <div class="online-circle">
                        <i class="fa fa-circle text-success"></i>
                    </div>
                    <h4 class="team-leader">Marnie Flowers</h4>
                    <p class="text-muted font-12">Lider de Equipo</p>
                    <ul class="list-inline language-skill mb-4">
                        <li class="list-inline-item">Habilidades : </li>
                        <li class="list-inline-item"><span>azure</span></li>
                        <li class="list-inline-item"><span>jango</span></li>
                        <li class="list-inline-item"><span>python</span></li>
                        <li class="list-inline-item">
                            <button type="button" class="btn btn-soft-secondary btn-xs btn-round font-12">+</button>
                        </li>
                    </ul>
                </div>
                <small class="float-right font-13 pt-2 text-muted">1 Lider , 7 Miembros</small>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
    <div class="col-lg-3">
        <div class="card team-card">
            <div class="card-body">
                <div class=" d-flex justify-content-between">
                    <h4 class="header-title mt-0 d-inline-block">Web Design Team</h4>
                    <div class="dropdown d-inline-block">
                        <a class="nav-link dropdown-toggle arrow-none" id="dLabel2" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="fas fa-ellipsis-v font-20 text-muted"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel2">
                            <a class="dropdown-item" href="#">Create Project</a>
                            <a class="dropdown-item" href="#">Open Project</a>
                            <a class="dropdown-item" href="#">Tasks Details</a>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <img src="~/images/users/user-5.jpg" alt="" class="rounded-circle user-img img-thumbnail">
                    <div class="online-circle">
                        <i class="fa fa-circle text-success"></i>
                    </div>
                    <h4 class="team-leader">Willie Miller</h4>
                    <p class="text-muted font-12">Lider de Equipo</p>
                    <ul class="list-inline language-skill mb-4">
                        <li class="list-inline-item">Habilidades : </li>
                        <li class="list-inline-item"><span>azure</span></li>
                        <li class="list-inline-item"><span>jango</span></li>
                        <li class="list-inline-item"><span>python</span></li>
                        <li class="list-inline-item">
                            <button type="button" class="btn btn-soft-secondary btn-xs btn-round font-12">+</button>
                        </li>
                    </ul>
                </div>
                <small class="float-right font-13 pt-2 text-muted">1 Lider , 7 Miembros</small>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
    <div class="col-lg-3">
        <div class="card team-card">
            <div class="card-body">
                <div class=" d-flex justify-content-between">
                    <h4 class="header-title mt-0 d-inline-block">Frontend Developer Team</h4>
                    <div class="dropdown d-inline-block">
                        <a class="nav-link dropdown-toggle arrow-none" id="dLabel3" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="fas fa-ellipsis-v font-20 text-muted"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel3">
                            <a class="dropdown-item" href="#">Create Project</a>
                            <a class="dropdown-item" href="#">Open Project</a>
                            <a class="dropdown-item" href="#">Tasks Details</a>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <img src="~/images/users/user-9.jpg" alt="" class="rounded-circle user-img img-thumbnail">
                    <div class="online-circle">
                        <i class="fa fa-circle text-success"></i>
                    </div>
                    <h4 class="team-leader">Jason Haston</h4>
                    <p class="text-muted font-12">Lider de Equipo</p>
                    <ul class="list-inline language-skill mb-4">
                        <li class="list-inline-item">Habilidades : </li>
                        <li class="list-inline-item"><span>azure</span></li>
                        <li class="list-inline-item"><span>jango</span></li>
                        <li class="list-inline-item"><span>python</span></li>
                        <li class="list-inline-item">
                            <button type="button" class="btn btn-soft-secondary btn-xs btn-round font-12">+</button>
                        </li>
                    </ul>
                </div>
                <small class="float-right font-13 pt-2 text-muted">1 Lider , 7 Miembros</small>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
    <div class="col-lg-3">
        <div class="card team-card">
            <div class="card-body">
                <div class=" d-flex justify-content-between">
                    <h4 class="header-title mt-0 d-inline-block">Backend Developer Team</h4>
                    <div class="dropdown d-inline-block">
                        <a class="nav-link dropdown-toggle arrow-none" id="dLabel4" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="fas fa-ellipsis-v font-20 text-muted"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel4">
                            <a class="dropdown-item" href="#">Create Project</a>
                            <a class="dropdown-item" href="#">Open Project</a>
                            <a class="dropdown-item" href="#">Tasks Details</a>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <img src="~/images/users/user-8.jpg" alt="" class="rounded-circle user-img img-thumbnail">
                    <div class="online-circle">
                        <i class="fa fa-circle text-success"></i>
                    </div>
                    <h4 class="team-leader">Steven Hilliard</h4>
                    <p class="text-muted font-12">Lider de Equipo</p>
                    <ul class="list-inline language-skill mb-4">
                        <li class="list-inline-item">Habilidades : </li>
                        <li class="list-inline-item"><span>azure</span></li>
                        <li class="list-inline-item"><span>jango</span></li>
                        <li class="list-inline-item"><span>python</span></li>
                        <li class="list-inline-item">
                            <button type="button" class="btn btn-soft-secondary btn-xs btn-round font-12">+</button>
                        </li>
                    </ul>
                </div>
                <small class="float-right font-13 pt-2 text-muted">1 Lider , 7 Miembros</small>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
</div><!--end row-->

<div class="row">
    <div class="col-lg-3">
        <div class="card team-card">
            <div class="card-body">
                <div class=" d-flex justify-content-between">
                    <h4 class="header-title mt-0 d-inline-block">UI/UX Design Team</h4>
                    <div class="dropdown d-inline-block">
                        <a class="nav-link dropdown-toggle arrow-none" id="dLabel5" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="fas fa-ellipsis-v font-20 text-muted"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel5">
                            <a class="dropdown-item" href="#">Create Project</a>
                            <a class="dropdown-item" href="#">Open Project</a>
                            <a class="dropdown-item" href="#">Tasks Details</a>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <img src="~/images/users/user-10.jpg" alt="" class="rounded-circle user-img img-thumbnail">
                    <div class="online-circle">
                        <i class="fa fa-circle text-success"></i>
                    </div>
                    <h4 class="team-leader">Marnie Flowers</h4>
                    <p class="text-muted font-12">Lider de Equipo</p>
                    <ul class="list-inline language-skill mb-4">
                        <li class="list-inline-item">Habilidades : </li>
                        <li class="list-inline-item"><span>azure</span></li>
                        <li class="list-inline-item"><span>jango</span></li>
                        <li class="list-inline-item"><span>python</span></li>
                        <li class="list-inline-item">
                            <button type="button" class="btn btn-soft-secondary btn-xs btn-round font-12">+</button>
                        </li>
                    </ul>
                </div>
                <small class="float-right font-13 pt-2 text-muted">1 Lider , 7 Miembros</small>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
    <div class="col-lg-3">
        <div class="card team-card">
            <div class="card-body">
                <div class=" d-flex justify-content-between">
                    <h4 class="header-title mt-0 d-inline-block">Web Design Team</h4>
                    <div class="dropdown d-inline-block">
                        <a class="nav-link dropdown-toggle arrow-none" id="dLabel6" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="fas fa-ellipsis-v font-20 text-muted"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel6">
                            <a class="dropdown-item" href="#">Create Project</a>
                            <a class="dropdown-item" href="#">Open Project</a>
                            <a class="dropdown-item" href="#">Tasks Details</a>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <img src="~/images/users/user-3.jpg" alt="" class="rounded-circle user-img img-thumbnail">
                    <div class="online-circle">
                        <i class="fa fa-circle text-success"></i>
                    </div>
                    <h4 class="team-leader">Willie Miller</h4>
                    <p class="text-muted font-12">Lider de Equipo</p>
                    <ul class="list-inline language-skill mb-4">
                        <li class="list-inline-item">Habilidades : </li>
                        <li class="list-inline-item"><span>azure</span></li>
                        <li class="list-inline-item"><span>jango</span></li>
                        <li class="list-inline-item"><span>python</span></li>
                        <li class="list-inline-item">
                            <button type="button" class="btn btn-soft-secondary btn-xs btn-round font-12">+</button>
                        </li>
                    </ul>
                </div>
                <small class="float-right font-13 pt-2 text-muted">1 Lider , 7 Miembros</small>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
    <div class="col-lg-3">
        <div class="card team-card">
            <div class="card-body">
                <div class=" d-flex justify-content-between">
                    <h4 class="header-title mt-0 d-inline-block">Frontend Developer Team</h4>
                    <div class="dropdown d-inline-block">
                        <a class="nav-link dropdown-toggle arrow-none" id="dLabel7" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="fas fa-ellipsis-v font-20 text-muted"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel7">
                            <a class="dropdown-item" href="#">Create Project</a>
                            <a class="dropdown-item" href="#">Open Project</a>
                            <a class="dropdown-item" href="#">Tasks Details</a>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <img src="~/images/users/user-2.jpg" alt="" class="rounded-circle user-img img-thumbnail">
                    <div class="online-circle">
                        <i class="fa fa-circle text-success"></i>
                    </div>
                    <h4 class="team-leader">Jason Haston</h4>
                    <p class="text-muted font-12">Lider de Equipo</p>
                    <ul class="list-inline language-skill mb-4">
                        <li class="list-inline-item">Habilidades : </li>
                        <li class="list-inline-item"><span>azure</span></li>
                        <li class="list-inline-item"><span>jango</span></li>
                        <li class="list-inline-item"><span>python</span></li>
                        <li class="list-inline-item">
                            <button type="button" class="btn btn-soft-secondary btn-xs btn-round font-12">+</button>
                        </li>
                    </ul>
                </div>
                <small class="float-right font-13 pt-2 text-muted">1 Lider , 7 Miembros</small>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
    <div class="col-lg-3">
        <div class="card team-card">
            <div class="card-body">
                <div class=" d-flex justify-content-between">
                    <h4 class="header-title mt-0 d-inline-block">Backend Developer Team</h4>
                    <div class="dropdown d-inline-block">
                        <a class="nav-link dropdown-toggle arrow-none" id="dLabel8" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="fas fa-ellipsis-v font-20 text-muted"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel8">
                            <a class="dropdown-item" href="#">Create Project</a>
                            <a class="dropdown-item" href="#">Open Project</a>
                            <a class="dropdown-item" href="#">Tasks Details</a>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <img src="~/images/users/user-1.jpg" alt="" class="rounded-circle user-img img-thumbnail">
                    <div class="online-circle">
                        <i class="fa fa-circle text-success"></i>
                    </div>
                    <h4 class="team-leader">Steven Hilliard</h4>
                    <p class="text-muted font-12">Lider de Equipo</p>
                    <ul class="list-inline language-skill mb-4">
                        <li class="list-inline-item">Habilidades : </li>
                        <li class="list-inline-item"><span>azure</span></li>
                        <li class="list-inline-item"><span>jango</span></li>
                        <li class="list-inline-item"><span>python</span></li>
                        <li class="list-inline-item">
                            <button type="button" class="btn btn-soft-secondary btn-xs btn-round font-12">+</button>
                        </li>
                    </ul>
                </div>
                <small class="float-right font-13 pt-2 text-muted">1 Lider , 7 Miembros</small>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
</div><!--end row-->

@section scripts {

}