﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>GestorProyectos - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/images/favicon.ico">

    <!-- App css -->
    @Styles.Render("~/Content/css")

</head>

<body class="bg-card">
    <div class="container-fluid">
        <!-- Log In page -->
        <div class="row vh-100">
            <div class="col-lg-3 pr-0">
                <div class="auth-page">
                    <div class="card mb-0 shadow-none h-100">
                        <div class="card-body">

                            <div class="mb-5">
                                <a href="/" class="logo logo-admin">
                                    <span><img src="~/images/logo-sm.png" height="30" alt="logo" class="my-3"></span>
                                    <span><img src="~/images/logo-dark.png" height="16" alt="logo" class="logo-lg logo-dark my-3"></span>
                                    <span><img src="~/images/logo.png" height="16" alt="logo" class="logo-lg logo-light my-3"></span>
                                </a>
                            </div>

                            <div class="px-3">
                                <h2 class="font-weight-semibold font-22 mb-2">Welcome  to <span class="text-primary">GestorProyectos</span>.</h2>
                                <p class="text-muted">Try our fully featured business texting platform.</p>

                                <img src="~/images/404.png" alt="" class="d-block mx-auto mt-4" height="250">
                                <div class="text-center auth-logo-text mb-4">
                                    <h4 class="mt-0 mb-3 mt-5">Looks like you've got lost...</h4>
                                    <a href="/" class="btn btn-sm btn-gradient-primary">Back to Dashboard</a>
                                </div> <!--end auth-logo-text-->
                            </div>

                            <div class="mt-3 text-center">
                                &copy; 2019 - 2020 GestorProyectos <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-heart text-danger"></i> by Mannatthemes</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 p-0 h-100vh d-flex justify-content-center auth-bg">
                <div class="accountbg d-flex align-items-center">
                    <div class="account-title text-center text-white">
                        <img src="~/images/logo-sm.png" alt="" class="thumb-sm">
                        <h4 class="mt-3 text-white">Welcome To <span class="text-warning">GestorProyectos</span> </h4>
                        <h1 class="text-white">Let's Get Started</h1>
                        <p class="font-18 mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod.</p>
                        <div class="border w-25 mx-auto border-warning"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery  -->
    <script src="~/scripts/jquery.min.js"></script>
    <script src="~/scripts/jquery-ui.min.js"></script>
    <script src="~/scripts/bootstrap.bundle.min.js"></script>
    <script src="~/scripts/metismenu.min.js"></script>
    <script src="~/scripts/waves.js"></script>
    <script src="~/scripts/feather.min.js"></script>
    <script src="~/scripts/jquery.slimscroll.min.js"></script>
    <script type="text/javascript">
        feather.replace()
    </script>

</body>
</html>
