﻿@{ Layout = null;}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>GestorProyectos - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/images/favicon.ico">
    @Styles.Render("~/content/css")

</head>

<body class="account-body accountbg">

    <!-- Log In page -->
    <div class="container">
        <div class="row vh-100 ">
            <div class="col-12 align-self-center">
                <div class="auth-page">
                    <div class="card auth-card shadow-lg">
                        <div class="card-body">
                            <div class="px-3">
                                <div class="auth-logo-box">
                                    <a href="/" class="logo logo-admin"><img src="~/images/logo-sm.png" height="55" alt="logo" class="auth-logo"></a>
                                </div><!--end auth-logo-box-->

                                <div class="text-center auth-logo-text">
                                    <h4 class="mt-0 mb-3 mt-5">Free Register for GestorProyectos</h4>
                                    <p class="text-muted mb-0">Get your free GestorProyectos account now.</p>
                                </div> <!--end auth-logo-text-->


                                <form class="form-horizontal auth-form my-4" action="/`">

                                    <div class="form-group">
                                        <label for="username">Username</label>
                                        <div class="input-group mb-3">
                                            <span class="auth-form-icon">
                                                <i data-feather="user" class="icon-xs"></i>
                                            </span>
                                            <input type="text" class="form-control" name="username" id="username" placeholder="Enter username">
                                        </div>
                                    </div><!--end form-group-->

                                    <div class="form-group">
                                        <label for="useremail">Email</label>
                                        <div class="input-group mb-3">
                                            <span class="auth-form-icon">
                                                <i data-feather="mail" class="icon-xs"></i>
                                            </span>
                                            <input type="email" class="form-control" name="useremail" id="useremail" placeholder="Enter Email">
                                        </div>
                                    </div><!--end form-group-->

                                    <div class="form-group">
                                        <label for="userpassword">Password</label>
                                        <div class="input-group mb-3">
                                            <span class="auth-form-icon">
                                                <i data-feather="lock" class="icon-xs"></i>
                                            </span>
                                            <input type="password" class="form-control" name="password" id="userpassword" placeholder="Enter password">
                                        </div>
                                    </div><!--end form-group-->

                                    <div class="form-group">
                                        <label for="conf_password">Confirm Password</label>
                                        <div class="input-group mb-3">
                                            <span class="auth-form-icon">
                                                <i data-feather="key" class="icon-xs"></i>
                                            </span>
                                            <input type="password" class="form-control" name="conf-password" id="conf_password" placeholder="Enter Confirm Password">
                                        </div>

                                        <div class="form-group">
                                            <label for="mo_number">Mobile Number</label>
                                            <div class="input-group mb-3">
                                                <span class="auth-form-icon">
                                                    <i data-feather="phone" class="icon-xs"></i>
                                                </span>
                                                <input type="text" class="form-control" name="mobile-number" id="mo_number" placeholder="Enter Mobile Number">
                                            </div>
                                        </div><!--end form-group-->
                                    </div><!--end form-group-->

                                    <div class="form-group row mt-4">
                                        <div class="col-sm-12">
                                            <div class="custom-control custom-switch switch-success">
                                                <input type="checkbox" class="custom-control-input" id="customSwitchSuccess">
                                                <label class="custom-control-label text-muted" for="customSwitchSuccess">By registering you agree to the GestorProyectos <a href="#" class="text-primary">Terms of Use</a></label>
                                            </div>
                                        </div><!--end col-->
                                    </div><!--end form-group-->

                                    <div class="form-group mb-0 row">
                                        <div class="col-12 mt-2">
                                            <button class="btn btn-gradient-primary btn-round btn-block waves-effect waves-light" type="button">Register <i class="fas fa-sign-in-alt ml-1"></i></button>
                                        </div><!--end col-->
                                    </div> <!--end form-group-->
                                </form><!--end form-->
                            </div><!--end /div-->

                            <div class="m-3 text-center text-muted">
                                <p class="">Already have an account ? <a href="/" class="text-primary ml-2">Log in</a></p>
                            </div>
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div><!--end auth-card-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
    <!-- End Log In page -->
    <!-- jQuery  -->
    <script src="~/scripts/jquery.min.js"></script>
    <script src="~/scripts/jquery-ui.min.js"></script>
    <script src="~/scripts/bootstrap.bundle.min.js"></script>
    <script src="~/scripts/metismenu.min.js"></script>
    <script src="~/scripts/waves.js"></script>
    <script src="~/scripts/feather.min.js"></script>
    <script src="~/scripts/jquery.slimscroll.min.js"></script>
    <script type="application/json">
            feather.replace()
    </script>

</body>
</html>