﻿@section styles {
    <link type="text/css" href="~/plugins/x-editable/css/bootstrap-editable.css" rel="stylesheet">
}

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">GestorProyectos</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">UI Kit</a></li>
                    <li class="breadcrumb-item active">Xeditable</li>
                </ol>
            </div>
            <h4 class="page-title">Xeditable</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>
<!-- end page title end breadcrumb -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="mt-0 header-title">Inline Example</h4>
                <p class="text-muted mb-3">
                    This library allows you to create
                    editable elements on your page. It can be used with any engine
                    (bootstrap, jquery-ui, jquery only) and includes both popup and inline
                    modes. Please try out demo to see how it works.
                </p>

                <table class="table table-striped mb-0">
                    <thead>
                        <tr>
                            <th class="w-50">Inline</th>
                            <th>Examples</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Simple Text Field</td>
                            <td>
                                <a href="#" id="inline-username" data-type="text" data-pk="1" data-title="Enter username">superuser</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Empty text field, required</td>
                            <td>
                                <a href="#" id="inline-firstname" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-title="Enter your firstname"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Select, local array, custom display</td>
                            <td>
                                <a href="#" id="inline-sex" data-type="select" data-pk="1" data-value="" data-title="Select sex"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Select, error while loading</td>
                            <td>
                                <a href="#" id="inline-status" data-type="select" data-pk="1" data-value="0" data-source="/status" data-title="Select status">Active</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Combodate</td>
                            <td>
                                <a href="#" id="inline-dob" data-type="combodate" data-value="2015-09-24" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY" data-pk="1" data-title="Select Date of birth"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Textarea, buttons below. Submit by ctrl+enter</td>
                            <td>
                                <a href="#" id="inline-comments" data-type="textarea" data-pk="1" data-placeholder="Your comments here..." data-title="Enter comments">awesome user!</a>
                            </td>
                        </tr>
                    </tbody>
                </table><!--end table-->
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!-- end col -->
</div> <!-- end row -->

@section scripts {
    <script src="~/plugins/moment/moment.js"></script>
    <script src="~/plugins/x-editable/js/bootstrap-editable.min.js"></script>
    <script src="~/scripts/pages/jquery.form-xeditable.init.js"></script>
}