﻿<footer class="footer text-center text-sm-left">
    &copy; 2019 - 2020 GestorProyectos <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-heart text-danger"></i> by Mannatthemes</span>
</footer>
