﻿<div class="leftbar-tab-menu">
    <div class="main-icon-menu slimscroll-menu">
        <a href="@Url.Action("Index", "Dashboard")" class="logo logo-GestorProyectos d-block text-center">
            <span>
                <img src="~/images/logo-sm.png" alt="logo-small" class="logo-sm">
            </span>
        </a>
        <nav class="nav">
            <a href="#GestorProyectosDashboard" class="nav-link" data-toggle="tooltip-custom" data-placement="right" data-trigger="hover" title="" data-original-title="Dashboard">
                <i data-feather="home" class="align-self-center menu-icon icon-dual"></i>
            </a><!--end GestorProyectosDashboards-->

            <a href="#GestorProyectosApps" class="nav-link" data-toggle="tooltip-custom" data-placement="right" data-trigger="hover" title="" data-original-title="Menu">
                <i data-feather="grid" class="align-self-center menu-icon icon-dual"></i>
            </a><!--end GestorProyectosApps-->

            <!--<a href="#GestorProyectosUikit" class="nav-link" data-toggle="tooltip-custom" data-placement="right" data-trigger="hover" title="" data-original-title="UI Kit">
                <i data-feather="package" class="align-self-center menu-icon icon-dual"></i>
            </a>--><!--end GestorProyectosUikit-->

            <!--<a href="#GestorProyectosPages" class="nav-link" data-toggle="tooltip-custom" data-placement="right" data-trigger="hover" title="" data-original-title="Pages">
                <i data-feather="copy" class="align-self-center menu-icon icon-dual"></i>
            </a>--><!--end GestorProyectosPages-->

            <!--<a href="#GestorProyectosAuthentication" class="nav-link" data-toggle="tooltip-custom" data-placement="right" data-trigger="hover" title="" data-original-title="Authentication">
                <i data-feather="lock" class="align-self-center menu-icon icon-dual"></i>
            </a-->> <!--end GestorProyectosAuthentication-->

        </nav><!--end nav-->
        @*<div class="pro-GestorProyectos-end">
            <a href="" class="help" data-toggle="tooltip-custom" data-placement="right" data-trigger="hover" title="" data-original-title="Chat">
                <i data-feather="message-circle" class="align-self-center menu-icon icon-md icon-dual mb-4"></i>
            </a>
            <a href="" class="profile">
                <img src="~/images/users/user-4.jpg" alt="profile-user" class="rounded-circle thumb-sm">
            </a>
        </div>*@
    </div><!--end main-icon-menu-->

    <div class="main-menu-inner">
        <!-- LOGO -->
        <div class="topbar-left">
            <a href="@Url.Action("crm-index", "Dashboard")" class="logo">
                <span>
                    <img src="~/images/logo.png" alt="logo-large" class="logo-lg logo-dark">
                    <img src="~/images/logo.png" alt="logo-large" class="logo-lg logo-light">
                </span>
            </a>
        </div>
        <!--end logo-->
        <div class="menu-body slimscroll">
            <div id="GestorProyectosDashboard" class="main-icon-menu-pane">
                <div class="title-box">
                    <h6 class="menu-title">Dashboard</h6>
                </div>
                <ul class="nav">
                   @* <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Dashboard")">Inicio</a></li>*@
                    @*<li class="nav-item"><a class="nav-link" href="@Url.Action("crypto-index", "Dashboard")">Crypto</a></li>*@
                    @*<li class="nav-item"><a class="nav-link" href="@Url.Action("crm-index", "Dashboard")">Tareas</a></li>*@
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("project-index", "Dashboard")">Proyectos</a></li>
                   @* <li class="nav-item"><a class="nav-link" href="@Url.Action("ecommerce-index", "Dashboard")">Ecommerce</a></li>*@
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("helpdesk-index", "Dashboard")">Helpdesk</a></li>
                   @* <li class="nav-item"><a class="nav-link" href="@Url.Action("hospital-index", "Dashboard")">Hospital</a></li>*@
                </ul>
            </div><!-- end Dashboards -->

            <div id="GestorProyectosApps" class="main-icon-menu-pane">
                <div class="title-box">
                    <h6 class="menu-title">Menu</h6>
                </div>
                <ul class="nav metismenu">
                    <!--<li class="nav-item">
        <a class="nav-link" href="javascript:void(0);"><span class="w-100">Analytics</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
        <ul class="nav-second-level" aria-expanded="false">
            <li><a href="@Url.Action("customers", "analytics")">Customers</a></li>
            <li><a href="@Url.Action("reports", "analytics")">Reports</a></li>
        </ul>
    </li>-->
                    <!--end nav-item-->
                    <!--<li class="nav-item">
        <a class="nav-link" href="javascript:void(0);"><span class="w-100">Crypto</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
        <ul class="nav-second-level" aria-expanded="false">
            <li><a href="@Url.Action("exchange", "crypto")">Exchange</a></li>
            <li><a href="@Url.Action("wallet", "crypto")">Wallet</a></li>
            <li><a href="@Url.Action("news", "crypto")">Crypto News</a></li>
            <li><a href="@Url.Action("ico", "crypto")">ICO List</a></li>
            <li><a href="@Url.Action("settings", "crypto")">settings</a></li>
        </ul>
    </li>-->
                    <!--end nav-item-->

                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);"><span class="w-100">Sugerencias</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="@Url.Action("leads","crm")">Revisión</a></li>
                            @*<li><a href="@Url.Action("opportunities","crm")">Opportunities</a></li>
                <li><a href="@Url.Action("leads","crm")">Leads</a></li>*@
                            @*<li><a href="@Url.Action("customers","crm")">Clientes</a></li>*@
                            <li><a href="@Url.Action("asignar-tareas", "projects")">Asignar Tareas</a></li>
                            <li><a href="@Url.Action("seguimiento-tareas", "projects")">Seguimiento Tareas</a></li>
                        </ul>
                    </li><!--end nav-item-->

                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);"><span class="w-100">Trabajo Diario</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            @*<li><a href="@Url.Action("opportunities","crm")">Opportunities</a></li>
                <li><a href="@Url.Action("leads","crm")">Leads</a></li>*@
                            @*<li><a href="@Url.Action("customers","crm")">Clientes</a></li>*@
                            <li><a href="@Url.Action("task", "projects")">Tareas Asignadas</a></li>
                            <li><a href="@Url.Action("kanban-board", "projects")">Pendientes de Día</a></li>
                        </ul>
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);"><span class="w-100">Proyectos</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="@Url.Action("clients", "projects")">Clientes</a></li>
                            <li><a href="@Url.Action("team", "projects")">Equipos Trabajo</a></li>
                            <li><a href="@Url.Action("project", "projects")">Proyectos</a></li>

                            @* <li><a href="@Url.Action("chat", "projects")">Chat</a></li>*@
                            <li><a href="@Url.Action("users", "projects")">Usuarios</a></li>
                            <li><a href="@Url.Action("create", "projects")">Agregar Proyecto</a></li>
                        </ul>
                    </li><!--end nav-item-->
                    <!--<li class="nav-item">
        <a class="nav-link" href="javascript:void(0);"><span class="w-100">Ecommerce</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
        <ul class="nav-second-level" aria-expanded="false">
            <li><a href="@Url.Action("products", "ecommerce")">Products</a></li>
            <li><a href="@Url.Action("product-list", "ecommerce")">Product List</a></li>
            <li><a href="@Url.Action("product-detail", "ecommerce")">Product Detail</a></li>
            <li><a href="@Url.Action("cart", "ecommerce")">Cart</a></li>
            <li><a href="@Url.Action("checkout", "ecommerce")">Checkout</a></li>
        </ul>
    </li>-->
                    <!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);"><span class="w-100">Helpdesk</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="@Url.Action("teckets", "helpdesk")">Tiquetes</a></li>
                            <li><a href="@Url.Action("reports", "helpdesk")">Seguimiento</a></li>
                            @*<li><a href="@Url.Action("agents", "helpdesk")">Agents</a></li>*@
                        </ul>
                    </li><!--end nav-item-->
                    <!--<li class="nav-item">
        <a class="nav-link" href="javascript:void(0);"><span class="w-100">Hospital</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="javascript:void(0);">Appointments <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span></a>
                <ul class="nav-second-level" aria-expanded="false">
                    <li><a href="@Url.Action("doctor-shedule", "hospital")">Dr. Shedule</a></li>
                    <li><a href="@Url.Action("all-appointments", "hospital")">All Appointments</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);">Doctors <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span></a>
                <ul class="nav-second-level" aria-expanded="false">
                    <li><a href="@Url.Action("all-doctors", "hospital")">All Doctors</a></li>
                    <li><a href="@Url.Action("add-doctor", "hospital")">Add Doctor</a></li>
                    <li><a href="@Url.Action("edit-doctor", "hospital")">Doctor Edit</a></li>
                    <li><a href="@Url.Action("doctor-profile", "hospital")">Doctor Profile</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);">Patients <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span></a>
                <ul class="nav-second-level" aria-expanded="false">
                    <li><a href="@Url.Action("all-patients", "hospital")">All Patients</a></li>
                    <li><a href="@Url.Action("add-patient", "hospital")">Add Patient</a></li>
                    <li><a href="@Url.Action("edit-patient", "hospital")">Patient Edit</a></li>
                    <li><a href="@Url.Action("patient-profile", "hospital")">Patient Profile</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);">Payments <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span></a>
                <ul class="nav-second-level" aria-expanded="false">
                    <li><a href="@Url.Action("all-payments", "hospital")">All Payments</a></li>
                    <li><a href="@Url.Action("payment-invoice", "hospital")">Payment Invoice</a></li>
                    <li><a href="@Url.Action("cashless-payments", "hospital")">Cashless Payments</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);">Staff <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span></a>
                <ul class="nav-second-level" aria-expanded="false">
                    <li><a href="@Url.Action("all-staff", "hospital")">All Staff</a></li>
                    <li><a href="@Url.Action("add-member", "hospital")">Add Member</a></li>
                    <li><a href="@Url.Action("edit-member", "hospital")">Edit Member</a></li>
                    <li><a href="@Url.Action("member-profile", "hospital")">Member Profile</a></li>
                    <li><a href="@Url.Action("salary", "hospital")">Staff Salary</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);">General <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span></a>
                <ul class="nav-second-level" aria-expanded="false">
                    <li><a href="@Url.Action("all-rooms", "hospital")">Room Allotments</a></li>
                    <li><a href="@Url.Action("expenses", "hospital")">Expenses Report</a></li>
                    <li><a href="@Url.Action("departments", "hospital")">Departments</a></li>
                    <li><a href="@Url.Action("insurance-company", "hospital")">Insurance Co.</a></li>
                    <li><a href="@Url.Action("events", "hospital")">Events</a></li>
                    <li><a href="@Url.Action("leaves", "hospital")">Leaves</a></li>
                    <li><a href="@Url.Action("holidays", "hospital")">Holidays</a></li>
                    <li><a href="@Url.Action("attendance", "hospital")">Attendance</a></li>
                    <li><a href="@Url.Action("chat", "hospital")">Chat</a></li>
                </ul>
            </li>
        </ul>
    </li>-->
                    <!--end nav-item-->
                    <!--<li class="nav-item">
        <a class="nav-link" href="javascript:void(0);"><span class="w-100">Email</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
        <ul class="nav-second-level" aria-expanded="false">
            <li><a href="@Url.Action("inbox", "email")">Inbox</a></li>
            <li><a href="@Url.Action("email-read", "email")">Read Email</a></li>
        </ul>
    </li>-->
                    <!--end nav-item-->
                    <!--<li class="nav-item"><a class="nav-link" href="@Url.Action("chat", "apps")">Chat</a></li>
    <li class="nav-item"><a class="nav-link" href="@Url.Action("contacts", "apps")">Contact List</a></li>
    <li class="nav-item"><a class="nav-link" href="@Url.Action("calendar", "apps")">Calendar</a></li>
    <li class="nav-item"><a class="nav-link" href="@Url.Action("invoice", "apps")">Invoice</a></li>-->
                </ul>
            </div><!-- end Crypto -->

            <div id="GestorProyectosUikit" class="main-icon-menu-pane">
                <div class="title-box">
                    <h6 class="menu-title">UI Kit</h6>
                </div>
                <ul class="nav metismenu">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><span class="w-100">UI Elements</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="@Url.Action("bootstrap", "UI")">Bootstrap</a></li>
                            <li><a href="@Url.Action("animation", "UI")">Animation</a></li>
                            <li><a href="@Url.Action("avatar", "UI")">Avatar</a></li>
                            <li><a href="@Url.Action("clipboard", "UI")">Clip Board</a></li>
                            <li><a href="@Url.Action("files", "UI")">File Manager</a></li>
                            <li><a href="@Url.Action("ribbons", "UI")">Ribbons</a></li>
                            <li><a href="@Url.Action("dragula", "UI")">Dragula</a></li>
                            <li><a href="@Url.Action("check-radio", "UI")">Check & Radio</a></li>
                        </ul>
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="#"><span class="w-100">Advanced UI</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="@Url.Action("rangeslider", "UI")">Range Slider</a></li>
                            <li><a href="@Url.Action("sweetalerts", "UI")">Sweet Alerts</a></li>
                            <li><a href="@Url.Action("nestable", "UI")">Nestable List</a></li>
                            <li><a href="@Url.Action("ratings", "UI")">Ratings</a></li>
                            <li><a href="@Url.Action("highlight", "UI")">Highlight</a></li>
                            <li><a href="@Url.Action("session", "UI")">Session Timeout</a></li>
                            <li><a href="@Url.Action("idle-timer", "UI")">Idle Timer</a></li>
                        </ul>
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="#"><span class="w-100">Forms</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="@Url.Action("elements","Forms")">Basic Elements</a></li>
                            <li><a href="@Url.Action("advanced","Forms")">Advance Elements</a></li>
                            <li><a href="@Url.Action("validation","Forms")">Validation</a></li>
                            <li><a href="@Url.Action("wizard","Forms")">Wizard</a></li>
                            <li><a href="@Url.Action("editors","Forms")">Editors</a></li>
                            <li><a href="@Url.Action("repeater","Forms")">Repeater</a></li>
                            <li><a href="@Url.Action("x-editable","Forms")">X Editable</a></li>
                            <li><a href="@Url.Action("uploads","Forms")">File Upload</a></li>
                            <li><a href="@Url.Action("img-crop", "Forms")">Image Crop</a></li>
                        </ul>
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="#"><span class="w-100">Charts</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="@Url.Action("apex", "Chart")">Apex</a></li>
                            <li><a href="@Url.Action("morris", "Chart")">Morris</a></li>
                            <li><a href="@Url.Action("chartist", "Chart")">Chartist</a></li>
                            <li><a href="@Url.Action("flot", "Chart")">Flot</a></li>
                            <li><a href="@Url.Action("peity", "Chart")">Peity</a></li>
                            <li><a href="@Url.Action("chartjs", "Chart")">Chartjs</a></li>
                            <li><a href="@Url.Action("sparkline", "Chart")">Sparkline</a></li>
                            <li><a href="@Url.Action("knob", "Chart")">Jquery Knob</a></li>
                            <li><a href="@Url.Action("justgage", "Chart")">JustGage</a></li>
                        </ul>
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="#"><span class="w-100">Tables</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="@Url.Action("basic", "Table")">Basic</a></li>
                            <li><a href="@Url.Action("datatables", "Table")">Datatables</a></li>
                            <li><a href="@Url.Action("responsive", "Table")">Responsive</a></li>
                            <li><a href="@Url.Action("footable", "Table")">Footable</a></li>
                            <li><a href="@Url.Action("jsgrid", "Table")">Jsgrid</a></li>
                            <li><a href="@Url.Action("dragger", "Table")">Dragger</a></li>
                            <li><a href="@Url.Action("editable", "Table")">Editable</a></li>
                        </ul>
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="#"><span class="w-100">Icons</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="@Url.Action("materialdesign", "icon")">Material Design</a></li>
                            <li><a href="@Url.Action("dripicons", "icon")">Dripicons</a></li>
                            <li><a href="@Url.Action("fontawesome", "icon")">Font awesome</a></li>
                            <li><a href="@Url.Action("themify", "icon")">Themify</a></li>
                            <li><a href="@Url.Action("feather", "icon")">Feather</a></li>
                            <li><a href="@Url.Action("typicons", "icon")">Typicons</a></li>
                            <li><a href="@Url.Action("emoji", "icon")">Emoji <i class="em em-ok_hand"></i></a></li>
                        </ul>
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="#"><span class="w-100">Maps</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="@Url.Action("google", "maps")">Google Maps</a></li>
                            <li><a href="@Url.Action("leaflet", "maps")">Leaflet Maps</a></li>
                            <li><a href="@Url.Action("vector", "maps")">Vector Maps</a></li>
                        </ul>
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="#"><span class="w-100">Email Templates</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="@Url.Action("basic", "email")">Basic Action Email</a></li>
                            <li><a href="@Url.Action("alert", "email")">Alert Email</a></li>
                            <li><a href="@Url.Action("billing", "email")">Billing Email</a></li>
                        </ul>
                    </li><!--end nav-item-->
                </ul><!--end nav-->
            </div><!-- end Others -->

            <div id="GestorProyectosPages" class="main-icon-menu-pane">
                <div class="title-box">
                    <h6 class="menu-title">Pages</h6>
                </div>
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("profile", "pages")">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("tour", "pages")">Tour</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("timeline", "pages")">Timeline</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("treeview", "pages")">Treeview</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("starter", "pages")">Starter Page</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("pricing", "pages")">Pricing</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("blogs", "pages")">Blogs</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("faq", "pages")">FAQs</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("gallery", "pages")">Gallery</a></li>
                </ul>
            </div><!-- end Pages -->
            <div id="GestorProyectosAuthentication" class="main-icon-menu-pane">
                <div class="title-box">
                    <h6 class="menu-title">Authentication</h6>
                </div>
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("login", "authentication")">Log in</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("login-alt", "authentication")">Log in alt</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("register", "authentication")">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("register-alt", "authentication")">Register-alt</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("recover-pw", "authentication")">Re-Password</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("recover-pw-alt", "authentication")">Re-Password-alt</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("lock-screen", "authentication")">Lock Screen</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("lock-screen-alt", "authentication")">Lock Screen-alt</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("404", "authentication")">Error 404</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("404-alt", "authentication")">Error 404-alt</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("500", "authentication")">Error 500</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("500-alt", "authentication")">Error 500-alt</a></li>
                </ul>
            </div><!-- end Authentication-->
        </div><!--end menu-body-->
    </div><!-- end main-menu-inner-->
</div>

