﻿@section styles{
    <!-- DataTables -->
    <link href="~/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="~/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
}
<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">GestorProyectos</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Helpdesk</a></li>
                    <li class="breadcrumb-item active">Tiquetes</li>
                </ol>
            </div>
            <h4 class="page-title">Tiquetes</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>
<!-- end page title end breadcrumb -->
<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mt-0">Estado de Tiquetes</h4>
                <div class="">
                    <div id="Tickets_Data" class="apex-charts"></div>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mt-0">Tiquetes por Categoría</h4>
                <div id="apex_bar1" class="apex-charts"></div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="media">
                    <i data-feather="tag" class="align-self-center icon-lg icon-dual-warning mr-3"></i>
                    <div class="media-body align-self-center">
                        <h3 class="mt-0 mb-1 font-weight-semibold">380</h3>
                        <p class="mb-0 font-12 text-muted text-uppercase font-weight-semibold-alt">Tiquetes en Progreso</p>
                    </div><!--end media-body-->
                </div><!--end media-->
                <div class="progress mt-2" style="height:3px;">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div><!--end card-body-->
        </div><!--end  card-->
        <div class="card">
            <div class="card-body">
                <div class="media">
                    <i data-feather="check-square" class="align-self-center icon-lg icon-dual-pink mr-3"></i>
                    <div class="media-body align-self-center">
                        <h3 class="mt-0 mb-1 font-weight-semibold">92</h3>
                        <p class="mb-0 font-12 text-muted text-uppercase font-weight-semibold-alt">Tiquetes Completos</p>
                    </div><!--end media-body-->
                </div><!--end media-->
                <div class="progress mt-2" style="height:3px;">
                    <div class="progress-bar bg-pink" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div><!--end card-body-->
        </div><!--end  card-->
        <div class="card">
            <div class="card-body">
                <div class="media">
                    <i data-feather="clock" class="align-self-center icon-lg icon-dual-purple mr-3"></i>
                    <div class="media-body align-self-center">
                        <h3 class="mt-0 mb-1 font-weight-semibold">420:30<span class="ml-1 font-12">min</span></h3>
                        <p class="mb-0 font-12 text-muted text-uppercase font-weight-semibold-alt">Horas Invertidas</p>
                    </div><!--end media-body-->
                </div><!--end media-->
                <div class="progress mt-2" style="height:3px;">
                    <div class="progress-bar bg-purple" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div><!--end card-body-->
        </div><!--end  card-->
    </div> <!--end col-->
</div><!--end row-->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
               @* <button data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-lgclass=" btn btn-sm btn-gradient-primary float-right mb-2">Agregar Tiquete</button>*@
                <button type="button" class="btn btn-gradient-primary px-4 mt-0 mb-3" data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-lg"><i class="mdi mdi-plus-circle-outline mr-2"></i>Agregar Tiquete</button>
                <h4 class="header-title mt-0 mb-3">Lista de Tiquetes</h4>
                <div class="table-responsive">
                    <table id="datatable" class="table">
                        <thead class="thead-light">
                            <tr>
                                <th style="max-width: 95px;">
                                    <div class="checkbox checkbox-single checkbox-primary">
                                        <input type="checkbox" class="custom-control-input" id="action-checkbox">
                                        <label class="custom-control-label" for="action-checkbox">&nbsp;</label>
                                    </div>
                                </th>
                                <th>ID</th>
                                <th>Cliente</th>
                                <th>Detalle</th>
                                <th>Prioridad</th>
                                <th>Estado</th>
                                <th>Tiempo de Respuesta</th>
                            </tr><!--end tr-->
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    <div class="checkbox checkbox-primary mr-2 float-left">
                                        <input id="checkbox1" type="checkbox">
                                        <label for="checkbox1"></label>
                                    </div>
                                </td>
                                <td>#1236</td>
                                <td>
                                    <img src="~/images/users/user-10.jpg" alt="" class="thumb-sm rounded-circle mr-2">
                                    Donald Gardner
                                </td>
                                <td>Bug-report simply dummy text of the printing and typesetting</td>
                                <td>Medio</td>
                                <td><span class="badge badge-soft-warning p-2">Pendiente</span></td>
                                <td>14 min</td>
                            </tr><!--end tr-->
                            <tr>
                                <td>
                                    <div class="checkbox checkbox-primary mr-2 float-left">
                                        <input id="checkbox2" type="checkbox" checked="">
                                        <label for="checkbox2"></label>
                                    </div>
                                </td>
                                <td>#3569</td>
                                <td>
                                    <img src="~/images/users/user-9.jpg" alt="" class="thumb-sm rounded-circle mr-2">
                                    Kevin J. Heal
                                </td>
                                <td>The application continuous is a long established fact that a reader.</td>
                                <td class="text-danger">Alta</td>
                                <td><span class="badge badge-soft-success p-2">Resuelto</span></td>
                                <td>45 min</td>
                            </tr><!--end tr-->
                            <tr>
                                <td>
                                    <div class="checkbox checkbox-primary mr-2 float-left">
                                        <input id="checkbox3" type="checkbox">
                                        <label for="checkbox3"></label>
                                    </div>
                                </td>
                                <td>#9874</td>
                                <td>
                                    <img src="~/images/users/user-8.jpg" alt="" class="thumb-sm rounded-circle mr-2">
                                    Frank M. Lyons
                                </td>
                                <td>See how it work start are many variations of passages of Lorem Ipsum available.</td>
                                <td>Bajo</td>
                                <td><span class="badge badge-soft-primary p-2">Abierto</span></td>
                                <td>1 hora</td>
                            </tr><!--end tr-->
                            <tr>
                                <td>
                                    <div class="checkbox checkbox-primary mr-2 float-left">
                                        <input id="checkbox4" type="checkbox">
                                        <label for="checkbox4"></label>
                                    </div>
                                </td>
                                <td>#5412</td>
                                <td>
                                    <img src="~/images/users/user-7.jpg" alt="" class="thumb-sm rounded-circle mr-2">
                                    Robert C. Golding
                                </td>
                                <td>I can't upload file first line of Ipsum lorem ipsum dolor sit amet.</td>
                                <td>Medio</td>
                                <td><span class="badge badge-soft-warning p-2">Pendiente</span></td>
                                <td>2 horas</td>
                            </tr><!--end tr-->
                            <tr>
                                <td>
                                    <div class="checkbox checkbox-primary mr-2 float-left">
                                        <input id="checkbox5" type="checkbox" checked="">
                                        <label for="checkbox5"></label>
                                    </div>
                                </td>
                                <td>#3258</td>
                                <td>
                                    <img src="~/images/users/user-6.jpg" alt="" class="thumb-sm rounded-circle mr-2">
                                    Hyman M. Cross
                                </td>
                                <td>How do i upgrade my profile?</td>
                                <td>Bajo</td>
                                <td><span class="badge badge-soft-success p-2">Resuelto</span></td>
                                <td>4 horas</td>
                            </tr><!--end tr-->
                            <tr>
                                <td>
                                    <div class="checkbox checkbox-primary mr-2 float-left">
                                        <input id="checkbox6" type="checkbox">
                                        <label for="checkbox6"></label>
                                    </div>
                                </td>
                                <td>#6636</td>
                                <td>
                                    <img src="~/images/users/user-5.jpg" alt="" class="thumb-sm rounded-circle mr-2">
                                    Phillip T. Morse
                                </td>
                                <td>Can i help you in this project?</td>
                                <td class="text-danger">Alta</td>
                                <td><span class="badge badge-soft-primary p-2">Abierto</span></td>
                                <td>4 horas</td>
                            </tr><!--end tr-->
                        </tbody>
                    </table>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
</div><!--end row-->
<!--  Modal content for the above example -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myLargeModalLabel">Crear un nuevo Tiquete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="PatientName">Detalle de Tiquete</label>
                                <input type="text" class="form-control" id="PatientName" required="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="DoctorName_select" class="mr-2">Sistema</label>
                                <select class="custom-select" id="DoctorName_select">
                                    <option selected="">-- Select --</option>
                                    <option value="1">Sistema #1</option>
                                    <option value="2">Sistema #2</option>
                                    <option value="3">Sistema #3</option>
                                    <option value="4">Sistema #4</option>
                                    <option value="5">Sistema #5</option>
                                    <option value="6">Sistema #6</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="Department_select" class="mr-2">Prioridad</label>
                                <select class="custom-select" id="Department_select">
                                    <option selected="">-- Select --</option>
                                    <option value="1">Alta</option>
                                    <option value="2">Media</option>
                                    <option value="3">Baja</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-sm btn-primary">Guardar</button>
                    <button type="button" class="btn btn-sm btn-danger">Cancelar</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section scripts {
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/scripts/pages/jquery.tickets.init.js"></script>
}